@use '@angular/material' as mat;
@import '~@angular/material/theming';

@mixin odm-general-container-component-theme($theme) {
	$warn: map-get($theme, warn);

	.account-general__req-not-met {
		color: mat.get-color-from-palette($warn);
	}
}
