.account-general {
	.account-general__spacer-top {
		padding-top: var(--general-padding-list-item);
	}

	.account-general__spacer-bottom {
		padding-bottom: var(--general-padding-list-item);
	}

	.account-general__error {
		padding-top: 8px;
		display: block;

		span {
			font-size: var(--error);
		}

		.account-general__error-format-position {
			width: 15px;
			height: 15px;
			vertical-align: text-top;
			font-size: 15px;
		}
	}
}
