<ng-container *ngIf="_accountGeneralDetails$ | async as accountGeneralDetails">
	<div class="account-general">
		<div class="account-general__personal-email">
			<div [style.--general-padding-list-item]="_paddingValue" class="account-general__spacer-top"></div>
			<odm-personal-email
				[email]="accountGeneralDetails?.email"
				[verified]="accountGeneralDetails?.verified"
				[disableResendVerification]="_disableResendVerification$ | async"
				[loading]="_loading$ | async"
				(resendEmailVerificationClicked)="_onResendEmailVerificationClicked()"
			>
			</odm-personal-email>
			<div [style.--general-padding-list-item]="_paddingValue" class="account-general__spacer-bottom"></div>
		</div>
		<mat-divider></mat-divider>
		<div class="account-general__error">
			<span *ngIf="_problemDetails$ | async as problemDetails" @downUpFadeIn>
				<mat-icon class="account-general__req-not-met account-general__error-format-position" matPrefix>{{ 'clear' }}</mat-icon>
				{{ _getProblemDetailsErrorMessage(problemDetails) }}
			</span>
			<span *ngIf="_internalServerErrorDetails$ | async as internalServerError" @downUpFadeIn>
				<mat-icon class="account-general__req-not-met account-general__error-format-position" matPrefix>{{ 'clear' }}</mat-icon>
				{{ _getInternalServerErrorMessage(internalServerError) }}
			</span>
		</div>
	</div>
</ng-container>
