<ng-container *ngIf="_accountGeneralDetails$ | async as accountGeneralDetails">
	<div class="account-general">
		<div class="account-general__email-settings" [ngClass]="_routeAnimationsElements">
			<odm-email-settings
				[loading]="_loading$ | async"
				[disableResendVerification]="_disableResendVerification$ | async"
				[email]="accountGeneralDetails?.email"
				[verified]="accountGeneralDetails?.verified"
				(resendEmailVerificationClicked)="_onResendEmailVerificationClicked()"
			></odm-email-settings>
		</div>
		<mat-divider></mat-divider>
		<div class="account-general__error">
			<span [style.--error]="_errorFontSize" *ngIf="_problemDetails$ | async as problemDetails" @downUpFadeIn>
				<mat-icon class="account-general__req-not-met account-general__error-format-position" matPrefix>{{ 'clear' }}</mat-icon>
				{{ _getProblemDetailsErrorMessage(problemDetails) }}
			</span>
			<span [style.--error]="_errorFontSize" *ngIf="_internalServerErrorDetails$ | async as internalServerError" @downUpFadeIn>
				<mat-icon class="account-general__req-not-met account-general__error-format-position" matPrefix>{{ 'clear' }}</mat-icon>
				{{ _getInternalServerErrorMessage(internalServerError) }}
			</span>
		</div>
	</div>
</ng-container>
