<div class="form-container sign-up-container">

            <form action="#" id="contact-form" class="main-form needs-validation" role="form" novalidate>
                <h3>Create Account</h3>
                <div class="form-group">
                    <label>
                        <input type="text" id="form_user" class="my_form-control" required>
                        <small class="my_place">Username</small>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </label>
                </div>

                <div class="form-group">
                    <label>
                        <input type="text" id="form_email" class="my_form-control" required>
                        <small class="my_place">Your email</small>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </label>
                </div>

                <div class="form-group">
                    <label>
                        <input type="password" id="form_password" class="my_form-control" required>
                        <small class="my_place">Your password</small>
                        <div class="invalid-feedback">Please fill out this field.</div>

                    </label>
                </div>

                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary mt-2 mx-auto" >CREATE ACCOUNT</button>
                </div>
            </form>
        </div>
