<div class="auth-container">
	<div class="auth-container__img-section">
		<img class="auth-container__img" [src]="_laptopImgUrl" [ngClass]="_routeAnimationsElements" alt="Laptop" />
	</div>

	<div *ngIf="_breakpointStateScreenMatcher$ | async as matcher" class="auth-container__content">
		<div *ngIf="!matcher?.matches" class="auth-container__header">
			<h1 class="auth-container__heading" [ngClass]="_routeAnimationsElements">{{ 'odm.auth.sign-up.header' | translate }}</h1>
			<p class="auth-container__welcome-text" [ngClass]="_routeAnimationsElements">
				{{ 'odm.auth.sign-up.subheader' | translate }}
			</p>
		</div>
		<odm-auth
			[problemDetails]="_problemDetails$ | async"
			[internalServerErrorDetails]="_internalServerErrorDetails$ | async"
			[matcher]="matcher"
			(rememberMeChanged)="_onRememberMeChanged($event)"
			[signinForm]="_signinForm"
			(signinFormSubmitted)="_onSigninSubmitted($event)"
			[signupForm]="_signupForm"
			(signupFormSubmitted)="_onSignupSubmitted($event)"
			(signinWithGoogleSubmitted)="_onSigninWithGoogleSubmitted()"
			(signinWithFacebookSubmitted)="_onSigninWithFacebookSubmitted()"
			(forgotPasswordClicked)="_onForgotPasswordClicked()"
		></odm-auth>
	</div>
</div>
