@import '../../../../styles-variables.scss';

h1 {
	margin: 0px;
}

button {
	border: 1px solid;
	font-weight: bold;
	padding: 0px 45px;
	letter-spacing: 1px;
}

.auth-container {
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column-reverse;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;

	.auth-container__content {
		width: 100%;
		padding-top: 10px;
		padding-bottom: 10px;

		.auth-container__header {
			text-align: center;

			.auth-container__heading {
				margin: 0 0 20px 0;
				text-transform: uppercase;
			}

			.auth-container__welcome-text {
				color: #98979e;
				font-size: 13px;
				font-weight: 700;
				line-height: 1.6;
			}
		}
	}
}

.auth-container__routes {
	position: relative;
	overflow: hidden;
	width: 480px;
	max-width: 100%;
	height: 540px;
	margin-top: 20px;
	margin: 0 auto;
	// animates the auth image height adjustment between 500px(.auth-container__routes) and 370px (.auth-container__sign-in)
	transition: height 0.6s ease-out;
}

.auth-container__sign-in {
	height: 410px;
}

.auth-container__routes.forgot-password-active {
	height: 270px;
}

@media (min-width: map-get($grid-breakpoints, md)) {
	.auth-container__routes {
		width: 768px;
	}
}

// OVERLAY STYLES

// disables over lay container when viewing forgot-password, or two factor authentication component
.auth-container__routes.forgot-password-active .auth__overlay-container,
.auth-container__routes.two-step-verification-active .auth__overlay-container {
	display: none;
}

.auth__overlay-container {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 50%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 5;

	.auth__overlay {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 0 0;
		color: #ffffff;
		position: relative;
		top: -100%;
		height: 200%;
		width: 100%;
		// transitions between sign in/ sign up overlay content.
		// For example Sign in view has next to it overlay that says
		// Welcome
		// Sign up to create an account.
		// Create Account
		// The transition below is for transitioning that content in and out
		transition: transform 0.6s ease-in-out;

		.auth__overlay-panel {
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			padding: 0 40px;
			text-align: center;
			right: 0;
			height: 50%;
			width: 100%;

			.auth__form-btn-ghost {
				background-color: transparent;
			}

			.auth--btn {
				color: white;
				text-transform: uppercase;
			}
		}
	}
}

@media (min-width: map-get($grid-breakpoints, md)) {
	.auth-container__routes.sign-up-active .auth__overlay {
		transform: translateX(50%);
	}

	.auth-container__routes.sign-up-active .auth__overlay-container {
		transform: translateX(-100%);
	}

	.auth__overlay-container {
		top: 0;
		left: 50%;
		width: 50%;
		height: 100%;

		.auth__overlay {
			left: -100%;
			top: 0;
			height: 100%;
			width: 200%;

			.auth__overlay-panel {
				right: auto;
				top: 0;
				height: 100%;
				width: 50%;
			}

			.auth__overlay-sign-up {
				right: 0;
				transform: translateX(0);
			}

			.auth__overlay-sign-in {
				transform: translateX(0);
			}
		}
	}
}
