<div class="auth-container">
	<div *ngIf="_breakpointStateScreenMatcher$ | async as matcher" class="auth-container__content">
		<div *ngIf="!_forgotPasswordIsDisplayed && !_twoStepVerificationIsDisplayed && !_redeemRecoveryCodeIsDisplayed">
			<div *ngIf="!matcher?.matches" class="auth-container__header">
				<h1 class="auth-container__heading">
					{{ _signInIsDisplayed ? ('odm.auth.sign-in.header' | translate) : ('odm.auth.sign-up.header' | translate) }}
				</h1>
				<p class="auth-container__welcome-text">
					{{ _signInIsDisplayed ? ('odm.auth.sign-in.subheader' | translate) : ('odm.auth.sign-up.subheader' | translate) }}
				</p>
			</div>
		</div>
		<div [ngClass]="_setActiveAuthCssClass(_activeAuthType$ | async, matcher)" class="auth-container__routes" #scrollContainer>
			<div>
				<router-outlet @routeAnimations></router-outlet>
			</div>
			<ng-container *ngIf="matcher?.matches">
				<div class="auth__overlay-container">
					<div class="auth__overlay" [ngClass]="_routeAnimationsElements">
						<div class="auth__overlay-panel auth__overlay-sign-in">
							<h1>{{ 'odm.auth.sign-in.header' | translate }}</h1>
							<p>{{ 'odm.auth.sign-in.subheader' | translate }}</p>
							<button mat-raised-button (click)="_switchToSignin()" class="auth__form-btn-ghost auth--btn">
								{{ 'odm.buttons.sign-in' | translate }}
							</button>
						</div>
						<div class="auth__overlay-panel auth__overlay-sign-up">
							<h1>{{ 'odm.auth.sign-up.header' | translate }}</h1>
							<p>
								{{ 'odm.auth.sign-up.subheader' | translate }}
							</p>
							<button mat-raised-button (click)="_switchToSignup()" class="auth__form-btn-ghost auth--btn">
								{{ 'odm.buttons.create-account' | translate }}
							</button>
						</div>
					</div>
				</div>
			</ng-container>
		</div>
	</div>
</div>
