<!-- <section class="section"> -->
<div class="auth-container">
	<div class="auth-container__img-section">
		<img
			class="auth-container__img"
			src="https://res.cloudinary.com/hetfy/image/upload/v1603459311/laptop_hkaxzz.png"
			[ngClass]="_routeAnimationsElements"
			alt="Laptop"
		/>
	</div>

	<div class="auth-container__content">
		<div class="auth-container__header">
			<!-- <h6 class="auth-container__heading" [ngClass]
      ="_routeAnimationsElements">Welcome</h6> -->
			<h1 class="auth-container__heading" [ngClass]="_routeAnimationsElements">Welcome</h1>
			<p class="auth-container__welcome-text" [ngClass]="_routeAnimationsElements">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dignissimos officia sint animi voluptatum est praesentium nostrum, iusto earum
				fugit.
			</p>
		</div>
		<odm-auth
			[problemDetails]="_problemDetails$ | async"
			[internalServerErrorDetails]="_internalServerErrorDetails$ | async"
			(rememberMeChanged)="_onRememberMeChanged($event)"
			[signinForm]="_signinForm"
			(signinFormSubmitted)="_onSigninSubmitted($event)"
			[signupForm]="_signupForm"
			(signupFormSubmitted)="_onSignupSubmitted($event)"
			(signinWithGoogleSubmitted)="_onSigninWithGoogleSubmitted()"
			(signinWithFacebookSubmitted)="_onSigninWithFacebookSubmitted()"
			(forgotPasswordClicked)="_onForgotPasswordClicked()"
		></odm-auth>
	</div>
</div>
<!-- </section> -->
