@import '../../../../styles-variables.scss';

.auth-container {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column-reverse;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;

	.auth-container__img-section {
		flex-basis: 60%;
		text-align: center;
		margin-bottom: 20px;

		.auth-container__img {
			width: 100%;
		}
	}

	.auth-container__content {
		width: 100%;
		padding-top: 10px;

		.auth-container__header {
			text-align: center;

			.auth-container__heading {
				margin: 0 0 20px 0;
				text-transform: uppercase;
			}

			.auth-container__welcome-text {
				color: #98979e;
				font-size: 13px;
				font-weight: 700;
				line-height: 1.6;
			}
		}
	}
}

@media (min-width: map-get($grid-breakpoints, md)) {
	.auth-container__img-section {
		margin-top: 20px;
	}
}
