.default-spinner {
	display: inline-block;
	position: relative;

	.default-spinner__server-down {
		opacity: 0.1;
		right: 45px;
		max-width: 100%;
		position: absolute;
		max-height: 100%;
		top: 150px;
		width: 60%;
		text-align: center;
	}

	img {
		opacity: 0.1;
		right: 45px;
		max-width: 100%;
		position: absolute;
		max-height: 100%;
		top: 30px;
		width: 60%;
		clip-path: circle(55% at 55% 55%);
	}
}

.button-spinner {
	margin-left: 5px;
	top: 3px;
	position: relative;
	display: inline-block;
}
