<div>
	<div class="email-settings">
		<h3 [style.--account-header]="_accountHeader" class="email-settings--header" @downUpFadeIn>
			{{ 'odm.account.general.email.title' | translate }}
		</h3>
		<div @downUpFadeIn>
			<div class="email-settings__email-verification">
				<odm-personal-email-verification
					(resendEmailVerificationClicked)="_onResendEmailVerificationClicked()"
					[disableResendVerification]="_disableResendVerification$ | async"
					[loading]="_loading$ | async"
					[email]="email"
					[verified]="verified"
				>
				</odm-personal-email-verification>
			</div>
			<div class="email-settings__change-email">
				<div [style.--short-description]="_shortDescription" class="email-settings__short-description">
					<span>{{ 'odm.account.general.email.description' | translate }}</span>
				</div>
				<div class="email-settings__change">
					<button mat-button (click)="_onChangeEmailClicked()">{{ 'odm.buttons.change' | translate }}</button>
				</div>
			</div>
		</div>
	</div>
</div>
