<div class="forgot-password__container">
	<div class="forgot-password__form">
		<h2 class="main-heading">{{ 'odm.auth.forgot-password.header' | translate }}</h2>
	</div>
	<div *ngIf="!formSubmitted">
		<form [formGroup]="forgotPasswordForm" (ngSubmit)="_onFormSubmitted()" class="forgot-password__form">
			<div>
				<p>{{ 'odm.auth.forgot-password.subheader' | translate }}</p>
			</div>
			<div>
				<mat-form-field appearance="standard">
					<mat-label>{{ 'odm.auth.form.label.email' | translate }}</mat-label>
					<input formControlName="email" matInput type="email" autocomplete="email" required />
					<mat-error *ngIf="forgotPasswordForm.get('email').invalid">{{ _getTranslatedErrorMessage$() | async }}</mat-error>
				</mat-form-field>
			</div>

			<div class="forgot-password__action-buttons">
				<button mat-button type="button" (click)="_onCancelClicked()">
					{{ 'odm.buttons.cancel' | translate }}
				</button>
				<button mat-raised-button type="submit" color="primary" [disabled]="forgotPasswordForm.invalid">
					{{ 'odm.buttons.reset-password' | translate }}
				</button>
			</div>
		</form>
	</div>
	<div *ngIf="formSubmitted" @leftRightFadeIn>
		<div class="forgot-password__form">
			<p>If the provided e-mail is registered, you will receive an email from us shortly to reset your password.</p>
			<div class="forgot-password__action-buttons forgot-password__user-message">
				<button mat-raised-button type="button" color="primary" (click)="_onFinishClicked()">Finish</button>
			</div>
		</div>
	</div>
</div>
