<div>
	<form [formGroup]="_forgotPasswordForm" (ngSubmit)="_onFormSubmitted()">
		<div>
			<mat-form-field appearance="standard">
				<mat-label>{{ 'odm.auth.form.label.email' | translate }}</mat-label>
				<input formControlName="email" matInput type="email" autocomplete="email" required />
				<mat-error *ngIf="_forgotPasswordForm.get('email').invalid">{{ _getTranslatedErrorMessage$() | async }}</mat-error>
			</mat-form-field>
		</div>

		<div>
			<button mat-raised-button type="submit" color="primary" [disabled]="_forgotPasswordForm.invalid">
				{{ 'odm.buttons.reset-password' | translate }}
			</button>
			<button mat-flat-button type="button" [routerLink]="['../']">
				{{ 'odm.buttons.cancel' | translate }}
			</button>
		</div>
	</form>
</div>
