<div>
	<form [formGroup]="_forgotPasswordForm" (ngSubmit)="_onFormSubmitted()">
		<div>
			<mat-form-field appearance="standard">
				<mat-label>E-mail</mat-label>
				<input formControlName="email" matInput type="email" autocomplete="email" required />
				<mat-error *ngIf="_forgotPasswordForm.get('email').invalid">{{ _getErrorMessage() }}</mat-error>
			</mat-form-field>
		</div>

		<div>
			<button mat-raised-button type="submit" color="primary" [disabled]="_forgotPasswordForm.invalid">Reset Password</button>
			<button mat-flat-button type="button" [routerLink]="['../']">Cancel</button>
		</div>
	</form>
</div>
