.forgot-password__container {
	width: 100%;

	.forgot-password__form {
		max-width: 350px;
		margin: 0 auto;

		mat-form-field {
			width: 100%;
			margin-bottom: 8px;
		}

		.forgot-password__action-buttons {
			display: flex;
			justify-content: space-between;
		}

		.forgot-password__action-buttons.forgot-password__user-message {
			justify-content: center;
		}
	}
}
