@import '~@angular/material/theming';

@mixin odm-auth-component-theme($theme) {
	$primary: map-get($theme, primary);
	$accent: map-get($theme, accent);
	$warn: map-get($theme, warn);
	$background: map-get($theme, background);

	odm-auth {
		.container .sign-in-container {
			h3 {
				background-image: linear-gradient(to left, mat-color($accent, A400), mat-color($primary, 700));
			}
		}

		h3 {
			background-image: linear-gradient(to right, mat-color($accent, A400), mat-color($primary, 700));
		}

		.forgot {
			color: mat-color($primary, A400);
		}

		.btn {
			background-image: linear-gradient(to right, mat-color($accent, A200), mat-color($accent, 900));
		}

		.overlay {
			background: mat-color($primary, A400);
			background: linear-gradient(to right, mat-color($accent, A400), mat-color($primary, 700));
			background: -webkit-linear-gradient(to right, mat-color($accent, A200), mat-color($primary, 700));
		}

		.container {
			background-color: mat-color($background, background);

			form {
				background-color: mat-color($background, background);
			}
		}
	}
}
