<div [ngClass]="_createAccount" class="auth__container">
	<div class="auth__form-container auth__sign-up-container">
		<form [formGroup]="_signupForm" #signupFormDirective="ngForm" (ngSubmit)="_onSignup()" role="form" novalidate>
			<h3 class="auth__sign-up-header">{{ 'odm.auth.sign-up.title' | translate }}</h3>

			<div>
				<img (click)="_onSigninWithFacebook()" class="auth__form-icon" [src]="_facebookLoginIcon" alt="facebook" />
				<img (click)="_onSigninWithGoogle()" class="auth__form-icon" [src]="_googleLoginIcon" alt="google" />
			</div>

			<div>
				<mat-form-field appearance="standard">
					<mat-label>{{ 'odm.auth.email-label' | translate }}</mat-label>
					<input formControlName="email" matInput placeholder="example@gmail.com" type="email" autocomplete="email" required />
					<mat-hint>
						<ng-container *ngIf="_signupFormEmailControlStatusChanges$ | async as status">
							<span *ngIf="status === 'PENDING' && !_isInternalServerError" class="loading-dots-animation"
								>{{ 'odm.auth.checking-availability' | translate }}<span>.</span><span>.</span><span>.</span>
							</span>
							<span *ngIf="status === 'VALID'">
								<mat-icon class="auth--req-met" matPrefix>{{ 'task_alt' }}</mat-icon>
								{{ 'odm.auth.validation.valid-email' | translate }}
							</span>
							<span *ngIf="_isInternalServerError">
								<mat-icon class="auth--req-not-met" matPrefix>{{ 'clear' }}</mat-icon>
								{{ _getInternalServerErrorMessage() }}
							</span>
						</ng-container>
					</mat-hint>
					<mat-icon matSuffix>email</mat-icon>
					<mat-error *ngIf="_ifControlFieldIsInvalid(_signupForm?.get('email'), 'email')">{{
						_getTranslatedEmailErrorMessage$(_signupForm?.get('email').errors) | async
					}}</mat-error>
				</mat-form-field>
			</div>

			<div class="auth__password-field">
				<mat-form-field appearance="standard">
					<mat-label>{{ 'odm.auth.password-label' | translate }}</mat-label>
					<input matInput formControlName="password" [type]="_hide ? 'password' : 'text'" autocomplete="new-password" required />
					<mat-icon class="auth__view-password" matSuffix (click)="_hide = !_hide">{{ _hide ? 'visibility_off' : 'visibility' }}</mat-icon>
					<mat-hint>
						<span>
							<ng-container *ngIf="!_signupForm?.get('password').pristine">
								<mat-icon [ngClass]="_passwordLengthReqMet ? 'auth--req-met' : 'auth--req-not-met'" matPrefix>{{
									_passwordLengthReqMet ? 'task_alt' : 'clear'
								}}</mat-icon>
							</ng-container>
							{{ 'odm.auth.requirement.eight-chars-long' | translate }}
						</span>
						<br />
						<span>
							<ng-container *ngIf="!_signupForm?.get('password').pristine">
								<mat-icon [ngClass]="_passwordUppercaseReqMet ? 'auth--req-met' : 'auth--req-not-met'" matPrefix>{{
									_passwordUppercaseReqMet ? 'task_alt' : 'clear'
								}}</mat-icon>
							</ng-container>
							{{ 'odm.auth.requirement.one-upper-case' | translate }}
						</span>
						<br />
						<span>
							<ng-container *ngIf="!_signupForm?.get('password').pristine">
								<mat-icon [ngClass]="_passwordLowercaseReqMet ? 'auth--req-met' : 'auth--req-not-met'" matPrefix>{{
									_passwordLowercaseReqMet ? 'task_alt' : 'clear'
								}}</mat-icon>
							</ng-container>
							{{ 'odm.auth.requirement.one-lower-case' | translate }}
						</span>
						<br />
						<span>
							<ng-container *ngIf="!_signupForm?.get('password').pristine">
								<mat-icon [ngClass]="_passwordDigitReqMet ? 'auth--req-met' : 'auth--req-not-met'" matPrefix>{{
									_passwordDigitReqMet ? 'task_alt' : 'clear'
								}}</mat-icon>
							</ng-container>
							{{ 'odm.auth.requirement.one-digit' | translate }}
						</span>
						<br />
						<span>
							<ng-container *ngIf="!_signupForm?.get('password').pristine">
								<mat-icon [ngClass]="_passwordThreeUniqueCharacterCountReqMet ? 'auth--req-met' : 'auth--req-not-met'" matPrefix>{{
									_passwordThreeUniqueCharacterCountReqMet ? 'task_alt' : 'clear'
								}}</mat-icon>
							</ng-container>
							{{ 'odm.auth.requirement.three-unique-chars' | translate }}
						</span>
						<br />
						<span>
							<ng-container *ngIf="!_signupForm?.get('password').pristine">
								<mat-icon [ngClass]="_passwordSpecialCharacterReqMet ? 'auth--req-met' : 'auth--req-not-met'" matPrefix>{{
									_passwordSpecialCharacterReqMet ? 'task_alt' : 'clear'
								}}</mat-icon>
							</ng-container>
							{{ 'odm.auth.requirement.one-special-char' | translate }}
						</span>
					</mat-hint>
					<mat-error *ngIf="_ifControlFieldIsInvalidatedByServer(_signupForm?.get('password'), 'password')">{{
						_getTranslatedPasswordErrorMessage$(_signupForm?.get('password').errors) | async
					}}</mat-error>
				</mat-form-field>
			</div>

			<div>
				<mat-form-field appearance="standard">
					<mat-label>{{ 'odm.auth.confirm-password-label' | translate }}</mat-label>
					<input matInput formControlName="confirmPassword" [type]="_hide ? 'password' : 'text'" autocomplete="new-password" />
					<mat-icon class="auth__view-password" matSuffix (click)="_hide = !_hide">{{ _hide ? 'visibility_off' : 'visibility' }}</mat-icon>
					<mat-hint>
						<span>
							<ng-container *ngIf="!_signupForm?.get('confirmPassword').pristine && _signupForm?.get('password').valid">
								<mat-icon [ngClass]="_confirmPasswordNotMatchReqMet ? 'auth--req-met' : 'auth--req-not-met'" matPrefix>{{
									_confirmPasswordNotMatchReqMet ? 'task_alt' : 'clear'
								}}</mat-icon>
							</ng-container>
							{{ 'odm.auth.requirement.pass-must-match' | translate }}
						</span>
					</mat-hint>
					<mat-error *ngIf="_signupForm?.get('confirmPassword').invalid">{{ _fieldRequiredMessage }}</mat-error>
				</mat-form-field>
			</div>

			<div>
				<button mat-raised-button type="submit" class="auth__form-btn auth__form-signup-btn auth--btn" [disabled]="!_signupForm?.valid">
					{{ 'odm.auth.sign-up.sign-up-button' | translate }}
				</button>
				<div class="auth__text-align">
					<span *ngIf="!matcher?.matches" class="auth__text-link" (click)="_switchToSignin(signinFormDirective)">{{
						'odm.auth.sign-in.sign-in-button' | translate
					}}</span>
				</div>
			</div>
		</form>
	</div>

	<div class="auth__form-container auth__sign-in-container" [ngClass]="_routeAnimationsElements">
		<form [formGroup]="signinForm" #signinFormDirective="ngForm" (ngSubmit)="_onSignin()" role="form" novalidate>
			<h3 class="auth__sign-in-header">{{ 'odm.auth.sign-in.title' | translate }}</h3>

			<div>
				<img (click)="_onSigninWithFacebook()" class="auth__form-icon" src="../../../../assets/facebook_icon_color.svg" alt="facebook" />
				<img (click)="_onSigninWithGoogle()" class="auth__form-icon" src="../../../../assets/google_icon_color.svg" alt="google" />
			</div>

			<div>
				<mat-form-field appearance="standard">
					<mat-label>{{ 'odm.auth.email-label' | translate }}</mat-label>
					<input matInput formControlName="email" type="email" autocomplete="email" required />
					<mat-icon matSuffix>email</mat-icon>
					<mat-error *ngIf="_ifControlFieldIsInvalid(signinForm?.get('email'), 'email')">{{
						_getTranslatedEmailErrorMessage$(signinForm?.get('email').errors) | async
					}}</mat-error>
				</mat-form-field>
			</div>

			<div>
				<mat-form-field appearance="standard">
					<mat-label>{{ 'odm.auth.password-label' | translate }}</mat-label>
					<input matInput formControlName="password" [type]="_hide ? 'password' : 'text'" type="password" autocomplete="current-password" required />
					<mat-icon class="auth__view-password" matSuffix (click)="_hide = !_hide">{{ _hide ? 'visibility_off' : 'visibility' }}</mat-icon>
					<mat-error *ngIf="signinForm?.get('password').invalid">{{ _fieldRequiredMessage }}</mat-error>
				</mat-form-field>
			</div>

			<div>
				<button mat-raised-button type="submit" class="auth__form-btn auth--btn" [disabled]="!signinForm?.valid">
					{{ 'odm.auth.sign-in.sign-in-button' | translate }}
				</button>
			</div>

			<div>
				<span class="auth__text-link" (click)="_onForgotPassword()">{{ 'odm.auth.sign-in.forgot-password' | translate }} </span>
				<span *ngIf="!matcher?.matches" class="auth__text-link" (click)="_switchToSignup(signinFormDirective)">{{
					'odm.auth.sign-up.sign-up-button' | translate
				}}</span>
			</div>
			<div>
				<mat-slide-toggle [checked]="signinForm.get('rememberMe').value" (change)="_onRememberMeChange($event)" formControlName="rememberMe"
					><span class="auth__text-link">{{ 'odm.auth.sign-in.remember-me' | translate }}</span></mat-slide-toggle
				>
			</div>
		</form>
	</div>

	<ng-container *ngIf="matcher?.matches">
		<div class="auth__overlay-container">
			<div class="auth__overlay" [ngClass]="_routeAnimationsElements">
				<div class="auth__overlay-panel auth__overlay-left">
					<h1>{{ 'odm.auth.sign-in.header' | translate }}</h1>
					<p>{{ 'odm.auth.sign-in.subheader' | translate }}</p>
					<button mat-raised-button (click)="_switchToSignin(signupFormDirective)" class="auth__form-btn-ghost auth--btn">
						{{ 'odm.auth.sign-in.sign-in-button' | translate }}
					</button>
				</div>
				<div class="auth__overlay-panel auth__overlay-right">
					<h1>{{ 'odm.auth.sign-up.header' | translate }}</h1>
					<p>
						{{ 'odm.auth.sign-up.subheader' | translate }}
					</p>
					<button mat-raised-button (click)="_switchToSignup(signinFormDirective)" class="auth__form-btn-ghost auth--btn">
						{{ 'odm.auth.sign-up.create-account-button' | translate }}
					</button>
				</div>
			</div>
		</div>
	</ng-container>
</div>
