<div [ngClass]="_createAccount" class="auth__container">
	<ng-container *ngIf="_showOverlay$ | async as matcher">
		<div class="auth__form-container auth__sign-up-container">
			<form [formGroup]="_signupForm" #signupFormDirective="ngForm" (ngSubmit)="_onSignup()" role="form" novalidate>
				<h3 class="auth__sign-up-header">Create Account</h3>

				<div>
					<img (click)="_onSigninWithFacebook()" class="auth__form-icon" src="../../../../assets/facebook_icon_color.svg" alt="facebook" />
					<img (click)="_onSigninWithGoogle()" class="auth__form-icon" src="../../../../assets/google_icon_color.svg" alt="google" />
				</div>

				<div>
					<mat-form-field appearance="standard">
						<mat-label>E-mail</mat-label>
						<input formControlName="email" matInput placeholder="example@gmail.com" type="email" autocomplete="email" required />
						<mat-hint>
							<ng-container *ngIf="_signupFormEmailControlStatusChanges$ | async as status">
								<span *ngIf="status === 'PENDING' && !_isInternalServerError" class="loading-dots-animation"
									>Checking availability<span>.</span><span>.</span><span>.</span>
								</span>
								<span *ngIf="status === 'VALID'">
									<mat-icon class="auth__auth__req-met" matPrefix>{{ 'task_alt' }}</mat-icon>
									E-mail is not registered.
								</span>
								<span *ngIf="_isInternalServerError">
									<mat-icon class="auth__auth__req-not-met" matPrefix>{{ 'clear' }}</mat-icon>
									{{ _getInternalServerErrorMessage() }}
								</span>
							</ng-container>
						</mat-hint>
						<mat-icon matSuffix>email</mat-icon>
						<mat-error *ngIf="_ifControlFieldIsInvalid(_signupForm?.get('email'), 'email')">{{
							_getEmailErrorMessage(_signupForm?.get('email').errors)
						}}</mat-error>
					</mat-form-field>
				</div>

				<div class="auth__password-field">
					<mat-form-field appearance="standard">
						<mat-label>Password</mat-label>
						<input matInput formControlName="password" [type]="_hide ? 'password' : 'text'" autocomplete="new-password" required />
						<mat-icon class="auth__view-password" matSuffix (click)="_hide = !_hide">{{ _hide ? 'visibility_off' : 'visibility' }}</mat-icon>
						<mat-hint>
							<span>
								<ng-container *ngIf="!_signupForm?.get('password').pristine">
									<mat-icon [ngClass]="_passwordLengthReqMet ? 'auth__req-met' : 'auth__req-not-met'" matPrefix>{{
										_passwordLengthReqMet ? 'task_alt' : 'clear'
									}}</mat-icon>
								</ng-container>
								Must be 8 characters long
							</span>
							<br />
							<span>
								<ng-container *ngIf="!_signupForm?.get('password').pristine">
									<mat-icon [ngClass]="_passwordUppercaseReqMet ? 'auth__req-met' : 'auth__req-not-met'" matPrefix>{{
										_passwordUppercaseReqMet ? 'task_alt' : 'clear'
									}}</mat-icon>
								</ng-container>
								Must contain 1 upper case letter
							</span>
							<br />
							<span>
								<ng-container *ngIf="!_signupForm?.get('password').pristine">
									<mat-icon [ngClass]="_passwordLowercaseReqMet ? 'auth__req-met' : 'auth__req-not-met'" matPrefix>{{
										_passwordLowercaseReqMet ? 'task_alt' : 'clear'
									}}</mat-icon>
								</ng-container>
								Must contain 1 lower case letter
							</span>
							<br />
							<span>
								<ng-container *ngIf="!_signupForm?.get('password').pristine">
									<mat-icon [ngClass]="_passwordDigitReqMet ? 'auth__req-met' : 'auth__req-not-met'" matPrefix>{{
										_passwordDigitReqMet ? 'task_alt' : 'clear'
									}}</mat-icon>
								</ng-container>
								Must contain 1 digit
							</span>
							<br />
							<span>
								<ng-container *ngIf="!_signupForm?.get('password').pristine">
									<mat-icon [ngClass]="_passwordThreeUniqueCharacterCountReqMet ? 'auth__req-met' : 'auth__req-not-met'" matPrefix>{{
										_passwordThreeUniqueCharacterCountReqMet ? 'task_alt' : 'clear'
									}}</mat-icon>
								</ng-container>
								Must contain 3 unique characters
							</span>
							<br />
							<span>
								<ng-container *ngIf="!_signupForm?.get('password').pristine">
									<mat-icon [ngClass]="_passwordSpecialCharacterReqMet ? 'auth__req-met' : 'auth__req-not-met'" matPrefix>{{
										_passwordSpecialCharacterReqMet ? 'task_alt' : 'clear'
									}}</mat-icon>
								</ng-container>
								Must contain (! @ # $ % & * _ ?)
							</span>
						</mat-hint>
						<mat-error *ngIf="_ifControlFieldIsInvalidatedByServer(_signupForm?.get('password'), 'password')">{{
							_getPasswordErrorMessage(_signupForm?.get('password').errors)
						}}</mat-error>
					</mat-form-field>
				</div>

				<div>
					<mat-form-field appearance="standard">
						<mat-label>Confirm Password</mat-label>
						<input matInput formControlName="confirmPassword" [type]="_hide ? 'password' : 'text'" autocomplete="new-password" />
						<mat-icon class="auth__view-password" matSuffix (click)="_hide = !_hide">{{ _hide ? 'visibility_off' : 'visibility' }}</mat-icon>
						<mat-hint>
							<span>
								<ng-container *ngIf="!_signupForm?.get('confirmPassword').pristine && _signupForm?.get('password').valid">
									<mat-icon [ngClass]="_confirmPasswordNotMatchReqMet ? 'auth__req-met' : 'auth__req-not-met'" matPrefix>{{
										_confirmPasswordNotMatchReqMet ? 'task_alt' : 'clear'
									}}</mat-icon>
								</ng-container>
								Passwords must match
							</span>
						</mat-hint>
						<mat-error *ngIf="_signupForm?.get('confirmPassword').invalid">{{ _fieldRequiredMessage }}</mat-error>
					</mat-form-field>
				</div>

				<div>
					<button mat-raised-button type="submit" class="auth__form-btn auth__form-signup-btn" [disabled]="!_signupForm?.valid">SIGN UP</button>
					<div class="auth__text-align">
						<span *ngIf="!matcher?.matches" class="auth__text-link" (click)="_switchToSignin(signinFormDirective)">Sign in</span>
					</div>
				</div>
			</form>
		</div>

		<div class="auth__form-container auth__sign-in-container" [ngClass]="_routeAnimationsElements">
			<form [formGroup]="signinForm" #signinFormDirective="ngForm" (ngSubmit)="_onSignin()" role="form" novalidate>
				<h3 class="auth__sign-in-header">Sign In</h3>

				<div>
					<img (click)="_onSigninWithFacebook()" class="auth__form-icon" src="../../../../assets/facebook_icon_color.svg" alt="facebook" />
					<img (click)="_onSigninWithGoogle()" class="auth__form-icon" src="../../../../assets/google_icon_color.svg" alt="google" />
				</div>

				<div>
					<mat-form-field appearance="standard">
						<mat-label>E-mail</mat-label>
						<input matInput formControlName="email" type="email" autocomplete="email" required />
						<mat-icon matSuffix>email</mat-icon>
						<mat-error *ngIf="_ifControlFieldIsInvalid(signinForm?.get('email'), 'email')">{{
							_getEmailErrorMessage(signinForm?.get('email').errors)
						}}</mat-error>
					</mat-form-field>
				</div>

				<div>
					<mat-form-field appearance="standard">
						<mat-label>Password</mat-label>
						<input
							matInput
							formControlName="password"
							[type]="_hide ? 'password' : 'text'"
							type="password"
							autocomplete="current-password"
							required
						/>
						<mat-icon class="auth__view-password" matSuffix (click)="_hide = !_hide">{{ _hide ? 'visibility_off' : 'visibility' }}</mat-icon>
						<mat-error *ngIf="signinForm?.get('password').invalid">{{ _fieldRequiredMessage }}</mat-error>
					</mat-form-field>
				</div>

				<div>
					<button mat-raised-button type="submit" class="auth__form-btn" [disabled]="!signinForm?.valid">SIGN IN</button>
				</div>

				<div>
					<span class="auth__text-link" (click)="_onForgotPassword()">Forgot password? </span>
					<span *ngIf="!matcher?.matches" class="auth__text-link" (click)="_switchToSignup(signinFormDirective)">Sign up</span>
				</div>
				<div>
					<mat-slide-toggle [checked]="signinForm.get('rememberMe').value" (change)="_onRememberMeChange($event)" formControlName="rememberMe"
						><span class="auth__text-link">Remember me</span></mat-slide-toggle
					>
				</div>
			</form>
		</div>

		<ng-container *ngIf="matcher?.matches">
			<div class="auth__overlay-container">
				<div class="auth__overlay" [ngClass]="_routeAnimationsElements">
					<div class="auth__overlay-panel auth__overlay-left">
						<h1>Welcome Back!</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
						<button mat-raised-button (click)="_switchToSignin(signupFormDirective)" class="auth__form-btn-ghost">SIGN IN</button>
					</div>
					<div class="auth__overlay-panel auth__overlay-right">
						<h1>Hello World!</h1>
						<p>
							Lorem ipsum dolor sit amet,<br />
							sed do eiusmod tempor incididunt.
						</p>
						<button mat-raised-button (click)="_switchToSignup(signinFormDirective)" class="auth__form-btn-ghost">CREATE ACCOUNT</button>
					</div>
				</div>
			</div>
		</ng-container>
	</ng-container>
</div>
