@import '../../../../styles-variables.scss';

h3 {
	margin: 0px;
	color: transparent;
	-webkit-background-clip: text;
}

mat-form-field {
	// margin-bottom: 8px;
	width: 100%;
}

button {
	border: 1px solid;
	font-weight: 700;
	padding: 0px 45px;
	letter-spacing: 1px;
}

form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	padding: 0 9px; // to match padding of change password which is total of 24px. There is already 15px padding
}

.auth__container {
	position: relative;
	overflow: hidden;
	width: 480px;
	max-width: 100%;
	min-height: 540px;
	margin-top: 20px;
	margin: 0 auto;

	.auth--btn {
		text-transform: uppercase;
	}

	.auth--btn:not([disabled]) {
		color: white;
	}

	// FORM CONTAINER
	.auth__form-container {
		position: absolute;
		top: 0;
		// Transition that controls sign-in/sign-up components start transitioning out of the view
		transition: all 0.6s ease-out;

		.auth__email-field {
			width: 80%;
		}

		.auth__password-field {
			width: 80%;
		}

		.auth__form-container-switch-sign-up {
			display: flex;
			justify-content: flex-end;
			width: 100%;
			font-size: small;

			mat-icon .mat-icon {
				height: 20px;
				width: 20px;
			}

			mat-icon .material-icons {
				font-size: 20px;
			}

			span {
				vertical-align: top;
			}
		}

		.auth__form-container-header {
			display: flex;
			justify-content: center;
		}

		.auth__text-link {
			cursor: pointer;
		}

		.auth__text-link--size {
			font-size: 12px;
		}

		.auth__view-password {
			cursor: pointer;
		}

		.auth__remember-me {
			margin-top: 8px;
		}

		.auth__form-btn {
			background-size: 200%;
			width: 250px;
			border: none;
			margin-top: 21.5px;
		}

		.auth__form-btn:enabled:hover {
			background-position: right;
		}

		.auth__form-btn.auth__form-signup-btn {
			margin-top: 18px;
		}
	}

	// SIGN IN CONTAINER
	.auth__sign-in-container {
		left: 0;
		width: 100%;
		z-index: 2;
		opacity: 0;

		.auth__sign-in-header {
			margin-bottom: 20px;
			width: 100%;
			text-align: center;
		}
	}
}

.auth__container.sign-in-active .auth__sign-in-container {
	transform: translateX(0);
	opacity: 1;
}

@keyframes hideBehindOverlay {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.auth__container.sign-up-active .auth__sign-in-container {
	transform: translateX(100%);
	animation: hideBehindOverlay 0.2s;
}

@media (min-width: map-get($grid-breakpoints, md)) {
	.auth__container {
		width: 768px;

		.auth__form-container {
			height: 100%;

			.auth__email-field {
				width: inherit;
			}

			.auth__password-field {
				width: inherit;
			}
		}

		.auth__sign-in-container {
			width: 50%;
		}
	}
}
