@import '../../../../styles-variables';

nav {
	margin-bottom: 20px;

	.mat-mdc-tab-link {
		min-width: 120px;
		padding: 0 15px;
	}

	@media (max-width: map-get($grid-breakpoints, md)) {
		.mat-mdc-tab-link {
			min-width: 0;
		}
	}
}
