@import '../../../../styles-variables.scss';

.recovery-codes .mat-expansion-panel-header-description {
	justify-content: space-between;
	align-items: center;
}

.user-secret {
	display: block;
}

@media (max-width: map-get($grid-breakpoints, sm)) {
	.truncate {
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}

	.user-secret {
		display: block;
	}
}
