<mat-accordion class="recovery-codes">
	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>
				{{ 'odm.account.security.two-step.recovery-codes.title' | translate }}
			</mat-panel-title>
			<mat-panel-description
				[matTooltip]="'odm.account.security.two-step.recovery-codes.description' | translate"
				[matTooltipShowDelay]="_showDelayInMs"
				[matTooltipTouchGestures]="_touchGestrues"
				class="recovery-codes__truncate"
			>
				{{ 'odm.account.security.two-step.recovery-codes.description' | translate }}
				<mat-icon class="recovery-codes__user-secret"><fa-icon icon="user-secret"></fa-icon></mat-icon>
			</mat-panel-description>
		</mat-expansion-panel-header>

		<div>
			<h3>{{ 'odm.account.security.two-step.recovery-codes.header' | translate }}</h3>
			<p>{{ 'odm.account.security.two-step.recovery-codes.subheader' | translate }}</p>
			<ol class="recovery-codes__format-codes blink">
				<li *ngFor="let code of codes" @fadeIn>
					{{ code }}
				</li>
			</ol>
			<div>
				<button mat-raised-button color="accent" (click)="_onGenerateNewRecoveryCodes()" [disabled]="generatingCodes">
					{{ 'odm.account.security.two-step.recovery-codes.generate' | translate }}
					<ng-container *ngIf="generatingCodes">
						<odm-spinner [type]="'button'" [diameter]="_generatingCodesSpinnerDiameter" [strokeWidth]="_generatingCodesSpinnerStrokeWidth">
						</odm-spinner>
					</ng-container>
				</button>
				<mat-hint class="recovery-codes__error-hint">
					<span *ngIf="_isProblemDetailsError" @upDownFadeIn>
						<mat-icon class="recovery-codes__req-not-met recovery-codes__format-position" matPrefix>{{ 'clear' }}</mat-icon>
						{{ _getProblemDetailsErrorMessage() }}
					</span>
					<span *ngIf="_isInternalServerError" @upDownFadeIn>
						<mat-icon class="recovery-codes__req-not-met recovery-codes__format-position" matPrefix>{{ 'clear' }}</mat-icon>
						{{ _getInternalServerErrorMessage() }}
					</span>
				</mat-hint>
			</div>
		</div>
	</mat-expansion-panel>
</mat-accordion>
