<mat-accordion class="recovery-codes">
	<mat-expansion-panel [disabled]="disabled" (closed)="_onUserCodesClosed()">
		<mat-expansion-panel-header>
			<mat-panel-title>
				{{ 'odm.account.security.two-step.recovery-codes.title' | translate }}
			</mat-panel-title>
			<mat-panel-description
				[matTooltip]="'odm.account.security.two-step.recovery-codes.description' | translate"
				[matTooltipShowDelay]="_showDelayInMs"
				[matTooltipTouchGestures]="_touchGestrues"
				class="recovery-codes__truncate"
			>
				{{ 'odm.account.security.two-step.recovery-codes.description' | translate }}
				<mat-icon class="recovery-codes__user-secret"><fa-icon icon="user-secret"></fa-icon></mat-icon>
			</mat-panel-description>
		</mat-expansion-panel-header>

		<div>
			<h3>{{ 'odm.account.security.two-step.recovery-codes.backup-codes.title' | translate }}</h3>
			<p>{{ 'odm.account.security.two-step.recovery-codes.backup-codes.description' | translate }}</p>
			<ng-container *ngIf="!generatingCodes; else generating">
				<ng-container *ngIf="_codes?.length > 0; else noRecoveryCodes">
					<ol class="recovery-codes__format-codes blink">
						<li *ngFor="let code of _codes">
							{{ code }}
						</li>
					</ol>
				</ng-container>
			</ng-container>
			<div>
				<button mat-raised-button color="accent" (click)="_onGenerateNewRecoveryCodes()" [disabled]="generatingCodes">
					{{ 'odm.buttons.generate' | translate }}
					<ng-container *ngIf="generatingCodes">
						<odm-spinner
							[type]="'button'"
							[spinnerColor]="'accent'"
							[diameter]="_generatingCodesSpinnerDiameter"
							[strokeWidth]="_generatingCodesSpinnerStrokeWidth"
						>
						</odm-spinner>
					</ng-container>
				</button>
				<odm-server-side-error [serverError]="_serverError"></odm-server-side-error>
			</div>
		</div>
	</mat-expansion-panel>
</mat-accordion>

<ng-template #noRecoveryCodes>
	<p>
		<i>{{ 'odm.account.security.two-step.recovery-codes.backup-codes.no-codes' | translate }}</i>
	</p>
</ng-template>

<ng-template #generating>
	<ol class="recovery-codes__format-codes">
		<li class="generating-codes">
			<div class="generating-code-ghost">
				<odm-ghost-block></odm-ghost-block>
			</div>
		</li>
		<li class="generating-codes">
			<div class="generating-code-ghost">
				<odm-ghost-block></odm-ghost-block>
			</div>
		</li>
		<li class="generating-codes">
			<div class="generating-code-ghost">
				<odm-ghost-block></odm-ghost-block>
			</div>
		</li>
		<li class="generating-codes">
			<div class="generating-code-ghost">
				<odm-ghost-block></odm-ghost-block>
			</div>
		</li>
		<li class="generating-codes">
			<div class="generating-code-ghost">
				<odm-ghost-block></odm-ghost-block>
			</div>
		</li>
	</ol>
</ng-template>
