@import '../../../../../styles-variables.scss';

.recovery-codes {
	.mat-expansion-panel-header-description {
		justify-content: space-between;
		align-items: center;
	}

	.recovery-codes__user-secret {
		display: block;
	}

	.recovery-codes__format-codes {
		columns: 2;
		padding-left: 20px;
		transition: 'ease-in';
	}

	.generating-codes {
		height: 20px;
		padding-bottom: 2.5px;
		width: 90%;

		.generating-code-ghost {
			height: 80%;
		}
	}
}

@media (max-width: map-get($grid-breakpoints, sm)) {
	.recovery-codes__truncate {
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}
}
