@import '../../../../../styles-variables.scss';

.recovery-codes {
	.mat-expansion-panel-header-description {
		justify-content: space-between;
		align-items: center;
	}

	.recovery-codes__user-secret {
		display: block;
	}

	.recovery-codes__format-codes {
		columns: 2;
		padding-left: 20px;
	}

	.recovery-codes__error-hint {
		padding-top: 8px;
		display: block;

		.recovery-codes__format-position {
			width: 15px;
			height: 15px;
			vertical-align: text-top;
			font-size: 15px;
		}
	}
}

@media (max-width: map-get($grid-breakpoints, sm)) {
	.recovery-codes__truncate {
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}
}
