<div [ngClass]="_routeAnimationsElements">
	<odm-forgot-password
		[forgotPasswordRequestSubmittedSuccessfully]="_forgotPasswordRequestSubmittedSuccessfully$ | async"
		[forgotPasswordRequestSubmitting]="_forgotPasswordRequestSubmitting$ | async"
		[internalServerErrorDetails]="_internalServerErrorDetails$ | async"
		[forgotPasswordForm]="_forgotPasswordForm"
		(submitFormClicked)="_onFormSubmitted($event)"
		(cancelClicked)="_onCancelClicked()"
		(finishClicked)="_onFinishClicked()"
	>
	</odm-forgot-password>
</div>
