<div class="background">
	<div class="gradient">
		<div class="container">
			<h1>{{ 'odm.title.long' | translate }}</h1>
			<div class="actions">
				<a [ngClass]="_routeAnimationsElements" mat-raised-button class="actions-main" color="primary" routerLink="../feature-list">
					{{ 'odm.menu.features' | translate }}
				</a>
				<a mat-raised-button class="actions-main" color="accent" routerLink="../examples" [ngClass]="_routeAnimationsElements">
					{{ 'odm.menu.examples' | translate }}
				</a>
				<a mat-raised-button class="actions-main" color="warn" routerLink="../settings" [ngClass]="_routeAnimationsElements">
					{{ 'odm.buttons.change-theme' | translate }}
				</a>
			</div>
			<!-- add content here to place it on top of the image -->
		</div>
	</div>
</div>
<!-- add content here to place it after the image -->
