<div @leftRightFadeIn>
	<odm-sign-in
		[problemDetails]="_problemDetails$ | async"
		[internalServerErrorDetails]="_internalServerErrorDetails$ | async"
		[activeAuthType]="_activeAuthType$ | async"
		[matcher]="_breakpointStateScreenMatcher$ | async"
		[rememberMe]="_rememberMe$ | async"
		[username]="_username$ | async"
		[staySignedIn]="_staySignedIn$ | async"
		(rememberMeChanged)="_onRememberMeChanged($event)"
		(staySignedinChanged)="_onStaySignedinChanged($event)"
		[signinForm]="_signinForm"
		(signinFormSubmitted)="_onSigninSubmitted($event)"
		(signinWithGoogleSubmitted)="_onSigninWithGoogleSubmitted($event)"
		(signinWithFacebookSubmitted)="_onSigninWithFacebookSubmitted($event)"
		(forgotPasswordClicked)="_onForgotPasswordClicked()"
		(switchToSignupClicked)="_onSwitchToSignupClicked($event)"
	>
	</odm-sign-in>
</div>
