<div>
	<div class="setup-wizard-overlay"></div>
	<div class="setup-wizard">
		<mat-vertical-stepper [linear]="_stepperIsLinear" #stepper odmMatVerticalStepperScroller>
			<mat-step [editable]="_stepper2faSetupEditable" [completed]="_is2faSetupCompleted">
				<ng-template matStepLabel>{{ 'odm.account.security.two-step.setup-wizard.first-step.title' | translate }}</ng-template>
				<p>
					{{ 'odm.account.security.two-step.setup-wizard.first-step.instructions.qr-code' | translate }}
				</p>
				<h3>{{ _twoFactorAuthenticationSetup?.sharedKey }}</h3>
				<div>
					<qrcode
						[qrdata]="_twoFactorAuthenticationSetup?.authenticatorUri"
						[width]="_qrBarCodeWidth"
						[errorCorrectionLevel]="'M'"
						[elementType]="'svg'"
					></qrcode>
				</div>
				<p>
					{{ 'odm.account.security.two-step.setup-wizard.first-step.instructions.verification-code' | translate }}
				</p>
				<div class="setup-wizard__verification-form">
					<form [formGroup]="verificationCodeForm" (ngSubmit)="_onVerificationCodeSubmitted()">
						<mat-form-field>
							<mat-label>
								{{ 'odm.account.security.two-step.setup-wizard.first-step.verification-code-placeholder' | translate }}
							</mat-label>
							<input matInput type="text" formControlName="verificationCode" [maxlength]="_verificationCodeInputLength" />
							<mat-error *ngIf="_ifControlIsInvalid(verificationCodeForm.get('verificationCode'))">{{
								_getErrorMessage$(verificationCodeForm.get('verificationCode')) | async
							}}</mat-error>
						</mat-form-field>
						<div class="setup-wizard__action-buttons">
							<button mat-button (click)="_onCancelClicked()" color="warn">
								{{ 'odm.buttons.cancel' | translate }}
							</button>
							<button mat-button color="primary" type="submit" [disabled]="!verificationCodeForm.valid || codeVerificationInProgress">
								<ng-container *ngIf="!codeVerificationInProgress && _codeVerificationSucceeded">
									{{ 'odm.buttons.verified' | translate }}
									<mat-icon class="req-met" matSuffix>{{ 'task_alt' }}</mat-icon>
									<odm-spinner
										[type]="'button'"
										[diameter]="_verifiedNextStepSpinnerDiameter"
										[strokeWidth]="_verifiedNextStepSpinnerStrokeWidth"
									></odm-spinner>
								</ng-container>
								<span *ngIf="codeVerificationInProgress" class="loading-dots-animation"
									>{{ 'odm.buttons.verifing' | translate }}<span>.</span><span>.</span><span>.</span>
								</span>
								<ng-container *ngIf="!codeVerificationInProgress && !_codeVerificationSucceeded">
									{{ 'odm.buttons.verify' | translate }}
								</ng-container>
							</button>
						</div>
					</form>
				</div>
			</mat-step>
			<mat-step>
				<div class="setup-wizard__final-step">
					<ng-template matStepLabel>{{ 'odm.account.security.two-step.setup-wizard.last-step.title' | translate }}</ng-template>
					<h3>{{ 'odm.account.security.two-step.setup-wizard.last-step.header' | translate }}</h3>
					<p>{{ 'odm.account.security.two-step.setup-wizard.last-step.information' | translate }}</p>
					<p>{{ 'odm.account.security.two-step.setup-wizard.last-step.save-codes' | translate }}</p>
					<div>
						<ol class="setup-wizard__format-codes">
							<li *ngFor="let code of _twoFactorAuthenticationSetupResult?.recoveryCodes?.items">{{ code }}</li>
						</ol>
					</div>
					<div>
						<button mat-button (click)="_onFinishSetup()" color="primary">
							{{ 'odm.buttons.finish' | translate }}
						</button>
					</div>
				</div>
			</mat-step>
		</mat-vertical-stepper>
	</div>
</div>
