@import '../../../../../styles-variables.scss';

.overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background: black;
	opacity: 0.5;
	z-index: 100;
}

.setup-wizard {
	position: relative;
	z-index: 110;
}

.verification-form {
	.verification-form__action-buttons {
		margin-top: 20px;
	}
}

.final-step {
	.final-step__format-codes {
		columns: 2;
		padding-left: 20px;
	}
}

@media (min-width: map-get($grid-breakpoints, sm)) {
	.final-step {
		.final-step__format-codes {
			columns: 2;
			max-width: 500px;
		}
	}
}
