@import '../../../../../styles-variables.scss';

.setup-wizard {
	position: relative;
	z-index: 110;

	.setup-wizard__verification-form {
		.setup-wizard__action-buttons {
			margin-top: 20px;
		}
	}

	.setup-wizard__final-step {
		.setup-wizard__format-codes {
			columns: 2;
			padding-left: 20px;
		}
	}
}

@media (min-width: map-get($grid-breakpoints, sm)) {
	.setup-wizard__final-step {
		.setup-wizard__format-codes {
			columns: 2;
			max-width: 500px;
		}
	}
}
