<div>
	<div *ngIf="_showPasswordChange === false; else passwordChange">
		<div class="password-settings">
			<h3>{{ 'odm.account.security.password.title' | translate }}</h3>
			<!-- <ng-container *ngIf="!loading; else loadingState"> -->
			<div class="password-settings__state" @downUpFadeIn>
				<div [style.--short-description]="_shortDescription" class="password-settings__short-description">
					<span>{{ 'odm.account.security.password.description' | translate }}</span>
				</div>
				<div class="password-settings__change">
					<button mat-button (click)="_onInitPasswordChangeClicked()">{{ 'odm.buttons.change-password' | translate }}</button>
				</div>
			</div>
			<!-- </ng-container> -->
		</div>
	</div>
</div>

<ng-template #passwordChange>
	<div id="changePassword" class="password-settings__spacer"></div>
	<odm-change-password
		[changePasswordForm]="changePasswordForm"
		[passwordRequirements]="_passwordRequirements"
		[passwordChangeInProgress]="passwordChangeInProgress"
		[passwordHelpToggleClass]="_passwordHelpToggleClass"
		[confirmPasswordMatchReqMet]="confirmPasswordMatchReqMet"
		[passwordChangeInProgress]="passwordChangeInProgress"
		[problemDetails]="_problemDetails"
		[internalServerErrorDetails]="internalServerErrorDetails"
		(passwordHelpToggled)="_onPasswordHelpToggled()"
		(changePasswordSubmitted)="_onChangePasswordSubmitted()"
		(cancelClicked)="_onCancelClicked()"
	></odm-change-password>
</ng-template>

<!-- <ng-template #loadingState>
	<div class="password-settings__ghost-loading-state">
		<odm-ghost-block></odm-ghost-block>
	</div>
</ng-template> -->
