.password-settings {
	width: 100%;
	overflow: hidden;

	.password-settings__state {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.password-settings__short-description {
		display: flex;
	}

	.password-settings__ghost-loading-state {
		height: 56px;
		padding: 8px 0;
	}
}
