<div class="change-password-overlay"></div>
<div>
	<odm-change-password
		[changePasswordForm]="_changePasswordForm"
		[passwordRequirements]="_passwordRequirements"
		[passwordChangeInProgress]="_passwordChangeInProgress"
		[passwordHelpToggleClass]="_passwordHelpToggleClass"
		[confirmPasswordMatchReqMet]="_confirmPasswordMatchReqMet"
		[passwordChangeInProgress]="_passwordChangeInProgress"
		[passwordHelpTogglePosition]="_passwordHelpTogglePosition$ | async"
		[problemDetails]="_problemDetails$ | async"
		[internalServerErrorDetails]="_internalServerErrorDetails$ | async"
		(passwordHelpToggled)="_onPasswordHelpToggled()"
		(changePasswordSubmitted)="_onChangePasswordSubmitted()"
		(cancelClicked)="_onCancelClicked()"
	></odm-change-password>
</div>
