@import '~@angular/material/theming';

@mixin odm-personal-email-verification-component-theme($theme) {
	$warn: map-get($theme, warn);
	$foreground: map-get($theme, foreground);
	$is-dark-theme: map-get($theme, is-dark);

	.personal-email {
		.personal-email__pending-verification {
			color: mat-color($warn);
		}

		.personal-email__info {
			.personal-email__data {
				color: mat-color($foreground, secondary-text, if($is-dark-theme, 0.7, 0.6));
			}
		}
	}

	.personal-email__pending-verification-link-container {
		.personal-email--link {
			color: mat-color($foreground, secondary-text, if($is-dark-theme, 0.7, 0.6));
		}
	}
}
