@import '../../../../../styles-variables.scss';

mat-icon {
	height: 15px;
	width: 15px;
	font-size: 15px;
	margin-right: 8px;
	margin-left: 8px;
}

fa-icon {
	font-size: 15px;
}

.email-verification {
	.email-verification__short-description {
		font-size: var(--short-description);
		width: 100%;
	}

	.email-verification__email {
		word-break: break-all;
	}

	.email-verification__verified {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.email-verification__not-verified {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.email-verification__ghost-loading-state {
	height: 56px;
	padding: 8px 0;
	width: 100%;
}
