<div class="email-verification">
	<ng-container *ngIf="!loading; else loadingState">
		<div @downUpFadeIn [style.--short-description]="_shortDescription" class="email-verification__short-description">
			<ng-container *ngIf="verified === false">
				<div class="email-verification__not-verified">
					<div>
						<span class="email-verification__email">{{ email }}</span>
						<mat-icon class="email-verification__not-verified-icon" [matTooltip]="'odm.account.general.pending-verification-tooltip' | translate">
							<fa-icon icon="exclamation-triangle"></fa-icon>
						</mat-icon>
					</div>
					<div>
						<button
							[matTooltip]="_disabled ? ('odm.account.general.resend-verification-disabled-tooltip' | translate) : ''"
							mat-button
							type="button"
							(click)="_onResendEmailVerificationClicked()"
							[disabled]="_disabled"
						>
							{{ 'odm.account.general.resend-verification' | translate }}
						</button>
					</div>
				</div>
			</ng-container>

			<ng-container *ngIf="verified">
				<div class="email-verification__verified">
					<span>{{ email }}</span>
					<mat-icon class="email-verification__verified-icon" [matTooltip]="'odm.account.general.verified-tooltip' | translate">
						<fa-icon icon="check"></fa-icon>
					</mat-icon>
				</div>
			</ng-container>
		</div>
	</ng-container>
</div>

<ng-template #loadingState>
	<div class="email-verification__ghost-loading-state">
		<odm-ghost-block></odm-ghost-block>
	</div>
</ng-template>
