@use '@angular/material' as mat;
@import '~@angular/material/theming';

@mixin odm-two-factor-authentication-component-theme($theme) {
	$warn: map-get($theme, warn);
	$foreground: map-get($theme, foreground);
	$is-dark-theme: map-get($theme, is-dark);

	.two-factor-settings__req-not-met {
		color: mat.get-color-from-palette($warn);
	}

	.two-factor-settings__state {
		.two-factor-settings__short-description {
			.two-factor-settings__description {
				color: mat.get-color-from-palette($foreground, secondary-text, if($is-dark-theme, 0.7, 0.6));
			}
		}
	}
}
