<ng-container *ngIf="_showTwoFactorAuthSetupWizard === false; else twoFactorAuthenticationSetupWizard">
	<div class="two-factor-settings" style="overflow: hidden;">
		<div class="two-factor-settings__container">
			<h3>{{ 'odm.account.security.two-step.title' | translate }}</h3>
			<ng-container *ngIf="!loading; else loadingState">
				<div [ngClass]="twoFactorEnabled ? 'two-factor-settings__extra-margin' : null" class="two-factor-settings__details" @fadeIn>
					<div class="two-factor-settings__detail">
						<span>{{ 'odm.account.security.two-step.subtitle' | translate }}</span>
					</div>
					<div class="two-factor-settings__detail" @fadeIn>
						<ng-container *ngIf="_twoFactorAuthToggleLoading">
							<odm-spinner
								class="two-factor-settings__disable-2fa"
								[type]="'button'"
								[diameter]="_twoFactorAuthToggleSpinnerDiameter"
								[strokeWidth]="_twoFactorAuthToggleSpinnerStrokeWidth"
							>
							</odm-spinner>
						</ng-container>
						<mat-slide-toggle
							#slideToggle
							[disabled]="_twoFactorAuthToggleLoading"
							[checked]="twoFactorEnabled"
							(change)="_onTwoFactorAuthToggle($event)"
							color="primary"
						></mat-slide-toggle>
					</div>
				</div>
				<ng-container *ngIf="twoFactorEnabled">
					<div @fadeIn>
						<odm-two-factor-authentication-details
							[recoveryCodes]="userRecoveryCodes"
							[disabled]="_twoFactorAuthToggleLoading"
							[generatingRecoveryCodes]="_generatingNewRecoveryCodes"
							(generateNewRecoveryCodes)="_onGenerateNew2FaRecoveryCodes()"
						></odm-two-factor-authentication-details>
					</div>
				</ng-container>
			</ng-container>
			<div class="two-factor-settings__error">
				<ng-container *ngIf="_problemDetails$ | async as problemDetails">
					<span *ngIf="_isProblemDetailsError(problemDetails)" @upDownFadeIn>
						<mat-icon class="two-factor-settings__req-not-met two-factor-settings__error-format-position" matPrefix>{{ 'clear' }}</mat-icon>
						{{ _getProblemDetailsErrorMessage(problemDetails) }}
					</span>
				</ng-container>
				<ng-container *ngIf="_internalServerErrorDetails$ | async as internalServerErrorDetails">
					<span *ngIf="_isInternalServerError(internalServerErrorDetails)" @upDownFadeIn>
						<mat-icon class="two-factor-settings__req-not-met two-factor-settings__error-format-position" matPrefix>{{ 'clear' }}</mat-icon>
						{{ _getInternalServerErrorMessage(internalServerErrorDetails) }}
					</span>
				</ng-container>
			</div>
		</div>
	</div>
</ng-container>

<ng-template #twoFactorAuthenticationSetupWizard>
	<odm-two-factor-authentication-setup-wizard
		(verificationCodeSubmitted)="_onVerifyAuthenticator($event)"
		(cancelSetupWizardClicked)="_onCancelSetupWizard()"
		(finish2faSetupClicked)="_onFinish2faSetup($event)"
		[verificationCodeForm]="_verificationCodeForm"
		[twoFactorAuthenticationSetupResult]="_authenticatorSetupResult$ | async"
		[twoFactorAuthenticationSetup]="_authenticatorSetup$ | async"
		[problemDetails]="_problemDetails$ | async"
		[internalServerErrorDetails]="_internalServerErrorDetails$ | async"
		[codeVerificationInProgress]="_codeVerificationInProgress"
	></odm-two-factor-authentication-setup-wizard>
</ng-template>

<ng-template #loadingState>
	<div class="two-factor-settings__loading-detail-state">
		<odm-ghost-block></odm-ghost-block>
	</div>
	<div class="two-factor-settings__loading-detail-codes">
		<odm-ghost-block></odm-ghost-block>
	</div>
</ng-template>
