<ng-container *ngIf="_accountSecurityDetails$ | async as accountSecurityDetails">
	<div class="account-security">
		<odm-two-factor-authentication
			[userRecoveryCodes]="accountSecurityDetails?.recoveryCodes?.items"
			[twoFactorEnabled]="accountSecurityDetails?.twoFactorEnabled"
			[generatingNewRecoveryCodes]="_generatingNewRecoveryCodes"
			[codeVerificationInProgress]="_codeVerificationInProgress"
			[loading]="_loading$ | async"
			[twoFactorAuthToggleLoading]="_twoFactorAuthToggleLoading$ | async"
			[verificationCodeForm]="_verificationCodeForm"
			[authenticatorSetup]="_authenticatorSetup$ | async"
			[authenticatorSetupResult]="_authenticatorSetupResult$ | async"
			(verifyAuthenticatorClicked)="_verifyAuthenticatorClicked($event)"
			(cancelSetupWizardClicked)="_cancelSetupWizardClicked()"
			(finish2faSetupClicked)="_finish2faSetupClicked($event)"
			(generateNew2faRecoveryCodesClicked)="_generateNew2faRecoveryCodesClicked()"
			(twoFactorAuthToggleChanged)="_onTwoFactorAuthToggle($event)"
			(serverErrorHandledEmitted)="_onServerErrorEmitted($event)"
		></odm-two-factor-authentication>
		<div>
			<h3>Change password</h3>
			<mat-form-field>
				<input matInput type="text" />
			</mat-form-field>
		</div>
		<mat-divider></mat-divider>
		<div class="account-security__error">
			<ng-container *ngIf="_serverError$ | async as serverError">
				<ng-container *ngIf="_serverErrorHandled === false">
					<span @upDownFadeIn>
						<mat-icon class="account-security__req-not-met account-security__error-format-position" matPrefix>{{ 'clear' }}</mat-icon>
						{{ _getServerErrorMessage(serverError) }}
					</span>
				</ng-container>
			</ng-container>
		</div>
	</div>
</ng-container>
