<ng-container *ngIf="_accountSecurityDetails$ | async as accountSecurityDetails">
	<div class="account-security">
		<odm-two-factor-authentication
			[userRecoveryCodes]="accountSecurityDetails?.recoveryCodes?.items"
			[twoFactorEnabled]="accountSecurityDetails?.twoFactorEnabled"
			[generatingNewRecoveryCodes]="_generatingNewRecoveryCodes"
			[codeVerificationInProgress]="_codeVerificationInProgress"
			[loading]="_loading$ | async"
			[twoFactorAuthToggleLoading]="_twoFactorAuthToggleLoading$ | async"
			[verificationCodeForm]="_verificationCodeForm"
			[authenticatorSetup]="_authenticatorSetup$ | async"
			[authenticatorSetupResult]="_authenticatorSetupResult$ | async"
			(verifyAuthenticatorClicked)="_onVerifyAuthenticatorClicked($event)"
			(cancelSetupWizardClicked)="_onCancelSetupWizardClicked()"
			(finish2faSetupClicked)="_onFinish2faSetupClicked($event)"
			(generateNew2faRecoveryCodesClicked)="_onGenerateNew2faRecoveryCodesClicked()"
			(twoFactorAuthToggleChanged)="_onTwoFactorAuthToggle($event)"
		></odm-two-factor-authentication>
		<odm-change-password-container
			(changePasswordSubmitted)="_onChangeUserPasswordSubmitted()"
			(changePasswordClosed)="_onChangePasswordClosed()"
			[passwordChangeCompleted]="_passwordChangeCompleted$ | async"
			[problemDetails]="_problemDetails$ | async"
			[internalServerErrorDetails]="_internalServerErrorDetails$ | async"
			[confirmPasswordMatchReqMet]="_confirmPasswordMatchReqMet"
			[changePasswordForm]="_changePasswordForm"
		></odm-change-password-container>
		<mat-divider></mat-divider>
		<ng-container *ngIf="_problemDetails$ | async as problemDetails">
			<odm-server-side-error [problemDetails]="problemDetails"></odm-server-side-error>
		</ng-container>
	</div>
</ng-container>
