@use '~@angular/material' as mat;
@import '~@angular/material/theming';

@mixin odm-security-container-component-theme($theme) {
	$warn: map-get($theme, warn);

	.account-security__req-not-met {
		color: mat.get-color-from-palette($warn);
	}
}
