<div class="account">
	<h2>{{ 'odm.account.header' | translate }}</h2>
	<nav mat-tab-nav-bar>
		<a mat-tab-link routerLink="general" routerLinkActive #general="routerLinkActive" [active]="general.isActive">
			<span>General</span>
		</a>
		<a mat-tab-link routerLink="security" routerLinkActive #security="routerLinkActive" [active]="security.isActive">
			<span>Security</span>
		</a>
	</nav>
	<div [@routeAnimations]="o.isActivated && o.activatedRoute.routeConfig.path">
		<router-outlet #o="outlet"></router-outlet>
	</div>
</div>
