@use '~@angular/material' as mat;
@import '~@angular/material/theming';

@mixin odm-ghost-theme {
	$first-light: map-get(mat.$grey-palette, 200);
	$second-light: map-get(mat.$grey-palette, 300);
	$first-dark: #303030;
	$second-dark: map-get(mat.$grey-palette, 600);

	.odm-ghost-block-container {
		background-color: $first-light;
	}

	@keyframes ghost-animation {
		0%,
		100% {
			background-color: $first-light;
		}

		50% {
			background-color: $second-light;
		}
	}

	@keyframes ghost-animation-dark {
		0%,
		100% {
			background-color: $first-dark;
		}

		50% {
			background-color: $second-dark;
		}
	}
}
