.recovery-code-verification {
	display: flex;
	flex-flow: column;
	align-items: center;

	.recovery-code-verification__header {
		text-align: center;
	}

	.recovery-code-verification__code {
		display: flex;
		justify-content: center;
	}
}
