<ng-container *ngIf="_accountSecurityDetails$ | async as accountSecurityDetails">
	<div>
		<odm-two-factor-authentication2 [twoFactorEnabled]="accountSecurityDetails?.twoFactorEnabled"></odm-two-factor-authentication2>
		<div>
			<h3>Change password</h3>
			<mat-form-field>
				<input matInput type="text" />
			</mat-form-field>
		</div>
	</div>
</ng-container>

<ng-template #twoFactorAuth>
	<div>
		<mat-horizontal-stepper linear #stepper>
			<mat-step>
				<ng-template matStepLabel>Done</ng-template>
				<odm-two-factor-authentication></odm-two-factor-authentication>
				<div>
					<button mat-button matStepperPrevious>Back</button>
					<button mat-button (click)="stepper.reset()">Reset</button>
				</div>
			</mat-step>
		</mat-horizontal-stepper>
	</div>
</ng-template>
