<form [formGroup]="_form" (ngSubmit)="_onVerificationCodeSubmitted()" class="verification-code">
	<mat-form-field>
		<mat-label>
			{{ _verificationCodeLabel$ | async | translate }}
		</mat-label>
		<input matInput type="text" formControlName="code" [maxlength]="_verificationCodeInputLength" />
		<mat-error *ngIf="_ifControlFieldIsInvalid(_form.get('code'))"> {{ _getErrorMessage$(_form.get('code')) | async }}</mat-error>
	</mat-form-field>
	<div class="verification-code__action-buttons">
		<button mat-button (click)="_onCancelClicked()" color="warn">
			{{ 'odm.buttons.cancel' | translate }}
		</button>
		<button mat-button mat-stroked-button color="accent" type="submit" [disabled]="!_form.valid || codeVerificationInProgress">
			<!-- If code verification is not in progress and code verification succeeded display green check mark and display spinner inside the button -->
			<ng-container *ngIf="!codeVerificationInProgress && codeVerificationSucceeded">
				{{ 'odm.buttons.verified' | translate }}
				<mat-icon color="accent" matSuffix>{{ 'task_alt' }}</mat-icon>
				<odm-spinner
					[type]="'button'"
					[diameter]="_verifiedNextStepSpinnerDiameter"
					[strokeWidth]="_verifiedNextStepSpinnerStrokeWidth"
				></odm-spinner>
			</ng-container>
			<!-- If code verification is in progress animate three dots -->
			<span *ngIf="codeVerificationInProgress" class="loading-dots-animation"
				>{{ 'odm.buttons.verifing' | translate }}<span>.</span><span>.</span><span>.</span>
			</span>
			<ng-container *ngIf="!codeVerificationInProgress && !codeVerificationSucceeded">
				{{ 'odm.buttons.verify' | translate }}
			</ng-container>
		</button>
	</div>
</form>
