<div>
	<div class="password-settings">
		<h3 @downUpFadeIn>{{ 'odm.account.security.password.title' | translate }}</h3>
		<div class="password-settings__state" @downUpFadeIn>
			<div [style.--short-description]="_shortDescription" class="password-settings__short-description">
				<span>{{ 'odm.account.security.password.description' | translate }}</span>
			</div>
			<div class="password-settings__change">
				<button mat-button (click)="_onChangePasswordClicked()">{{ 'odm.buttons.change-password' | translate }}</button>
			</div>
		</div>
	</div>
</div>
