<div [ngClass]="activeAuthType" class="auth__container">
	<div class="auth__form-container auth__sign-up-container">
		<form [ngClass]="_routeAnimationsElements" [formGroup]="_signupForm" (ngSubmit)="_onSignup()" role="form" novalidate>
			<h3 class="auth__sign-up-header">{{ 'odm.auth.sign-up.title' | translate }}</h3>
			<div *ngIf="!matcher?.matches" class="auth__form-container-switch-sign-in">
				<mat-icon class="auth__text--link auth__text-link" (click)="_switchToSignin()" matSuffix>arrow_back</mat-icon>
				<span class="auth__text--link">{{ 'odm.buttons.sign-in' | translate }}</span>
			</div>
			<div>
				<img (click)="_onSigninWithFacebook()" class="auth__form-icon" [src]="_facebookLoginIcon" alt="facebook" />
				<img (click)="_onSigninWithGoogle()" class="auth__form-icon" [src]="_googleLoginIcon" alt="google" />
			</div>

			<div class="auth__email-field">
				<mat-form-field appearance="standard">
					<mat-label>{{ 'odm.auth.form.label.email' | translate }}</mat-label>
					<input formControlName="email" matInput placeholder="example@gmail.com" type="email" autocomplete="email" required />
					<mat-hint>
						<ng-container *ngIf="_signupForm.get('email').statusChanges | async as status">
							<span *ngIf="status === 'PENDING'" class="loading-dots-animation"
								>{{ 'odm.auth.checking-availability' | translate }}<span>.</span><span>.</span><span>.</span>
							</span>
							<span *ngIf="status === 'VALID'">
								<mat-icon class="auth--req-met" matPrefix>{{ 'check' }}</mat-icon>
								{{ 'odm.auth.form.validations.valid-email' | translate }}
							</span>
							<!--
              https://stackoverflow.com/a/63537759/7952244
              <mat-error> content is only displayed when control is touched or when form is submitted.
              The logic flow goes as follow:
              1. onBlur perform async validation and check if entered email already exists.
              2. Check if any server side errors occured:
                OnTrue: mark the control as pristine and display the error. Marking email control
                        as pristine will circumvent angular's logic of displaying mat-error.
                        Marking control as pristine ensure's that error message is displayed
                        until user starts changing values inside the email control field.
              -->
							<span *ngIf="_ifControlFieldIsInvalid(_signupForm?.get('email'))">
								<mat-icon class="auth--req-not-met" matPrefix>{{ 'clear' }}</mat-icon>
								{{ _getErrorMessage$(_signupForm?.get('email')) | async }}
							</span>
						</ng-container>
					</mat-hint>
					<mat-icon matSuffix>email</mat-icon>
					<mat-error *ngIf="_ifControlFieldIsInvalid(_signupForm?.get('email'))">{{
						_getErrorMessage$(_signupForm?.get('email')) | async
					}}</mat-error>
				</mat-form-field>
			</div>

			<div class="auth__password-field" [ngClass]="passwordHelpToggleClass">
				<mat-form-field appearance="standard">
					<mat-label>{{ 'odm.auth.form.label.password' | translate }}</mat-label>
					<input matInput formControlName="password" [type]="_hidePassword ? 'password' : 'text'" autocomplete="new-password" required />
					<mat-icon class="auth__view-password" matSuffix (click)="_hidePassword = !_hidePassword">{{
						_hidePassword ? 'visibility_off' : 'visibility'
					}}</mat-icon>

					<mat-hint>
						<odm-password-help
							(passwordHelpClicked)="_onPasswordHelpToggled()"
							[passwordRequirements]="passwordRequirements"
							[passwordControl]="_passwordControl"
						></odm-password-help>
					</mat-hint>
					<mat-error *ngIf="_ifServerErrorOccured(_signupForm?.get('password'))">{{
						_getErrorMessage$(_signupForm?.get('password')) | async
					}}</mat-error>
				</mat-form-field>
			</div>

			<div class="auth__confirm-password-field">
				<mat-form-field appearance="standard">
					<mat-label>{{ 'odm.auth.form.label.confirm-password' | translate }}</mat-label>
					<input matInput formControlName="confirmPassword" [type]="_hideConfirmPassword ? 'password' : 'text'" autocomplete="new-password" />
					<mat-icon class="auth__view-password" matSuffix (click)="_hideConfirmPassword = !_hideConfirmPassword">{{
						_hideConfirmPassword ? 'visibility_off' : 'visibility'
					}}</mat-icon>
					<mat-hint>
						<span>
							<ng-container *ngIf="!_signupForm?.get('confirmPassword').pristine && _signupForm?.get('password').valid">
								<mat-icon [ngClass]="confirmPasswordMatchReqMet ? 'auth--req-met' : 'auth--req-not-met'" matPrefix>{{
									confirmPasswordMatchReqMet ? 'check' : 'clear'
								}}</mat-icon>
							</ng-container>
							{{ 'odm.auth.form.requirements.pass-must-match' | translate }}
						</span>
					</mat-hint>
					<mat-error *ngIf="_signupForm?.get('confirmPassword').invalid">{{
						_getErrorMessage$(_signupForm?.get('confirmPassword')) | async
					}}</mat-error>
				</mat-form-field>
			</div>

			<div>
				<button mat-raised-button type="submit" class="auth__form-btn auth__form-signup-btn auth--btn" [disabled]="!_signupForm?.valid || _signingUp">
					{{ 'odm.buttons.sign-up' | translate }}
					<ng-container *ngIf="_signingUp">
						<odm-spinner [type]="'button'" [diameter]="_signingUpSpinnerDiameter" [strokeWidth]="_signingUpSpinnerStrokeWidth"></odm-spinner>
					</ng-container>
				</button>
			</div>
		</form>
	</div>
</div>
