<div>
	<form [formGroup]="_resetPasswordForm" (ngSubmit)="_onSubmit()" role="form" novalidate>
		<h3>{{ 'odm.auth.sign-up.title' | translate }}</h3>
		<div>
			<mat-form-field appearance="standard">
				<mat-label>{{ 'odm.auth.email-label' | translate }}</mat-label>
				<input formControlName="email" matInput placeholder="example@gmail.com" type="email" autocomplete="email" required />
				<mat-hint>
					<ng-container *ngIf="_resetPasswordFormEmailControlStatusChanges$ | async as status">
						<span *ngIf="status === 'PENDING' && !_isInternalServerError" class="check-availability-animation"
							>{{ 'odm.auth.checking-availability' | translate }}<span>.</span><span>.</span><span>.</span>
						</span>
						<span *ngIf="status === 'VALID'">
							<mat-icon class="req-met" matPrefix>{{ 'task_alt' }}</mat-icon>
							{{ 'odm.auth.validation.valid-email' | translate }}
						</span>
						<span *ngIf="_isInternalServerError">
							<mat-icon class="req-not-met" matPrefix>{{ 'clear' }}</mat-icon>
							{{ _getInternalServerErrorMessage() }}
						</span>
					</ng-container>
				</mat-hint>
				<mat-icon matSuffix>email</mat-icon>
				<mat-error *ngIf="_ifControlFieldIsInvalid(_resetPasswordForm?.get('email'), 'email')">{{
					_getTranslatedEmailErrorMessage$(_resetPasswordForm?.get('email').errors) | async
				}}</mat-error>
			</mat-form-field>
		</div>

		<div class="password-field">
			<mat-form-field appearance="standard">
				<mat-label>{{ 'odm.auth.password-label' | translate }}</mat-label>
				<input matInput formControlName="password" [type]="_hide ? 'password' : 'text'" autocomplete="new-password" required />
				<mat-icon class="view-password" matSuffix (click)="_hide = !_hide">{{ _hide ? 'visibility_off' : 'visibility' }}</mat-icon>
				<mat-hint>
					<span>
						<ng-container *ngIf="!_resetPasswordForm?.get('password').pristine">
							<mat-icon [ngClass]="_passwordLengthReqMet ? 'req-met' : 'req-not-met'" matPrefix>{{
								_passwordLengthReqMet ? 'task_alt' : 'clear'
							}}</mat-icon>
						</ng-container>
						{{ 'odm.auth.requirement.eight-chars-long' | translate }}
					</span>
					<br />
					<span>
						<ng-container *ngIf="!_resetPasswordForm?.get('password').pristine">
							<mat-icon [ngClass]="_passwordUppercaseReqMet ? 'req-met' : 'req-not-met'" matPrefix>{{
								_passwordUppercaseReqMet ? 'task_alt' : 'clear'
							}}</mat-icon>
						</ng-container>
						{{ 'odm.auth.requirement.one-upper-case' | translate }}
					</span>
					<br />
					<span>
						<ng-container *ngIf="!_resetPasswordForm?.get('password').pristine">
							<mat-icon [ngClass]="_passwordLowercaseReqMet ? 'req-met' : 'req-not-met'" matPrefix>{{
								_passwordLowercaseReqMet ? 'task_alt' : 'clear'
							}}</mat-icon>
						</ng-container>
						{{ 'odm.auth.requirement.one-lower-case' | translate }}
					</span>
					<br />
					<span>
						<ng-container *ngIf="!_resetPasswordForm?.get('password').pristine">
							<mat-icon [ngClass]="_passwordDigitReqMet ? 'req-met' : 'req-not-met'" matPrefix>{{
								_passwordDigitReqMet ? 'task_alt' : 'clear'
							}}</mat-icon>
						</ng-container>
						{{ 'odm.auth.requirement.one-digit' | translate }}
					</span>
					<br />
					<span>
						<ng-container *ngIf="!_resetPasswordForm?.get('password').pristine">
							<mat-icon [ngClass]="_passwordThreeUniqueCharacterCountReqMet ? 'req-met' : 'req-not-met'" matPrefix>{{
								_passwordThreeUniqueCharacterCountReqMet ? 'task_alt' : 'clear'
							}}</mat-icon>
						</ng-container>
						{{ 'odm.auth.requirement.three-unique-chars' | translate }}
					</span>
					<br />
					<span>
						<ng-container *ngIf="!_resetPasswordForm?.get('password').pristine">
							<mat-icon [ngClass]="_passwordSpecialCharacterReqMet ? 'req-met' : 'req-not-met'" matPrefix>{{
								_passwordSpecialCharacterReqMet ? 'task_alt' : 'clear'
							}}</mat-icon>
						</ng-container>
						{{ 'odm.auth.requirement.one-special-char' | translate }}
					</span>
				</mat-hint>
				<mat-error *ngIf="_ifControlFieldIsInvalidatedByServer(_resetPasswordForm?.get('password'), 'password')">{{
					_getTranslatedPasswordErrorMessage$(_resetPasswordForm?.get('password').errors) | async
				}}</mat-error>
			</mat-form-field>
		</div>

		<div>
			<mat-form-field appearance="standard">
				<mat-label>{{ 'odm.auth.confirm-password-label' | translate }}</mat-label>
				<input matInput formControlName="confirmPassword" [type]="_hide ? 'password' : 'text'" autocomplete="new-password" />
				<mat-icon class="view-password" matSuffix (click)="_hide = !_hide">{{ _hide ? 'visibility_off' : 'visibility' }}</mat-icon>
				<mat-hint>
					<span>
						<ng-container *ngIf="!_resetPasswordForm?.get('confirmPassword').pristine && _resetPasswordForm?.get('password').valid">
							<mat-icon [ngClass]="_confirmPasswordNotMatchReqMet ? 'req-met' : 'req-not-met'" matPrefix>{{
								_confirmPasswordNotMatchReqMet ? 'task_alt' : 'clear'
							}}</mat-icon>
						</ng-container>
						{{ 'odm.auth.requirement.pass-must-match' | translate }}
					</span>
				</mat-hint>
				<mat-error *ngIf="_resetPasswordForm?.get('confirmPassword').invalid">{{ 'odm.auth.validation.field-required' | translate }}</mat-error>
			</mat-form-field>
		</div>

		<div>
			<button mat-raised-button type="submit" class="btn signup-btn" [disabled]="!_resetPasswordForm?.valid">
				{{ 'odm.auth.sign-up.sign-up-button' | translate }}
			</button>
		</div>
	</form>
</div>
