h3 {
	background-image: none;
}

.auth__password-reset-container {
	display: flex;
	justify-content: center;
}

.auth__form-container {
	.auth__view-password {
		cursor: pointer;
	}

	.auth__password-field-help-on {
		margin-bottom: 123px;
		transition: margin-bottom 0.3s ease-in;
	}

	.auth__password-field-help-off {
		margin-bottom: 0px;
		transition: margin-bottom 0.3s ease-in;
	}

	.auth__reset-password-confirm-password-field {
		margin-top: 12px;
	}
}
