<div class="auth__container">
	<div class="auth__form-container auth__password-reset-container">
		<form
			*ngIf="(_passwordResetComplete$ | async) === false"
			[ngClass]="_routeAnimationsElements"
			[formGroup]="_resetPasswordForm"
			(ngSubmit)="_onSubmit()"
			role="form"
			novalidate
		>
			<h2 class="auth__password-reset-header">{{ 'odm.auth.password-reset.header' | translate }}</h2>

			<div class="auth__password-reset-field" [ngClass]="_passwordHelpToggleClass">
				<mat-form-field appearance="standard">
					<mat-label>{{ 'odm.auth.form.label.password' | translate }}</mat-label>
					<input matInput formControlName="password" [type]="_hide ? 'password' : 'text'" autocomplete="new-password" required />
					<mat-icon class="auth__view-password" matSuffix (click)="_hide = !_hide">{{ _hide ? 'visibility_off' : 'visibility' }}</mat-icon>

					<mat-hint>
						<odm-password-help
							(passwordHelpClicked)="_onPasswordHelpToggled()"
							[togglePosition]="_togglePosition$ | async"
							[passwordRequirements]="_passwordRequirements"
							[passwordControl]="_passwordControl"
						></odm-password-help>
					</mat-hint>
					<mat-error *ngIf="_ifServerErrorOccured(_resetPasswordForm?.get('password'))">{{
						_getErrorMessage$(_resetPasswordForm?.get('password')) | async
					}}</mat-error>
				</mat-form-field>
			</div>

			<div class="auth__reset-password-confirm-password-field">
				<mat-form-field appearance="standard">
					<mat-label>{{ 'odm.auth.form.label.confirm-password' | translate }}</mat-label>
					<input matInput formControlName="confirmPassword" [type]="_hide ? 'password' : 'text'" autocomplete="new-password" />
					<mat-icon class="auth__view-password" matSuffix (click)="_hide = !_hide">{{ _hide ? 'visibility_off' : 'visibility' }}</mat-icon>
					<mat-hint>
						<span>
							<ng-container *ngIf="!_resetPasswordForm?.get('confirmPassword').pristine && _resetPasswordForm?.get('password').valid">
								<mat-icon [ngClass]="_confirmPasswordMatchReqMet ? 'auth--req-met' : 'auth--req-not-met'" matPrefix>{{
									_confirmPasswordMatchReqMet ? 'check' : 'clear'
								}}</mat-icon>
							</ng-container>
							{{ 'odm.auth.form.requirements.pass-must-match' | translate }}
						</span>
					</mat-hint>
					<mat-error *ngIf="_resetPasswordForm?.get('confirmPassword').invalid">{{
						_getErrorMessage$(_resetPasswordForm?.get('confirmPassword')) | async
					}}</mat-error>
				</mat-form-field>
			</div>

			<div class="auth__password-reset-container-btn">
				<button mat-raised-button type="submit" color="primary" [disabled]="!_resetPasswordForm?.valid || _passwordResetInProgress">
					{{ 'odm.buttons.submit' | translate }}
					<ng-container *ngIf="_passwordResetInProgress">
						<odm-spinner
							[type]="'button'"
							[spinnerColor]="'accent'"
							[diameter]="_resettingPasswordSpinnerDiameter"
							[strokeWidth]="_resettingPasswordSpinnerStrokeWidth"
						>
						</odm-spinner>
					</ng-container>
				</button>
			</div>
		</form>
		<div *ngIf="(_passwordResetComplete$ | async) === true" @downUpFadeIn>
			<h2>{{ 'odm.auth.password-reset.updated.header' | translate }}</h2>
			<p>{{ 'odm.auth.password-reset.updated.message' | translate }}</p>
			<button mat-raised-button type="button" color="primary" (click)="_onReturnToSignIn()">{{ 'odm.buttons.go-to-sign-in' | translate }}</button>
		</div>
	</div>
</div>
