h3 {
	background-image: none;
}

mat-form-field {
	margin-bottom: 8px;
}

.auth__password-reset-container {
	display: flex;
	justify-content: center;

	.auth--req-met {
		color: green;
	}

	.auth__password-reset-container-btn {
		margin-top: 18px;
		background-size: 200%;
		width: 250px;
		border: none;
	}
}

.auth__form-container {
	.auth__view-password {
		cursor: pointer;
	}

	.auth__password-field-help-on {
		margin-bottom: 123px;
		transition: margin-bottom 0.3s ease-in;
	}

	.auth__password-field-help-off {
		margin-bottom: 0px;
		transition: margin-bottom 0.3s ease-in;
	}

	.auth__reset-password-confirm-password-field {
		// has to be padding-top if we use margin-top we get collapse margins with
		// password fields 123px margin-bottom. This happens because these two controls
		// are inside the same flex context.
		padding-top: 12px;
	}
}
