<div class="auth__container">
	<div class="auth__form-container auth__password-reset-container">
		<form [ngClass]="_routeAnimationsElements" [formGroup]="_resetPasswordForm" (ngSubmit)="_onSubmit()" role="form" novalidate>
			<h2 class="auth__password-reset-header">{{ 'odm.auth.password-reset.title' | translate }}</h2>

			<div class="auth__password-reset-field" [ngClass]="_passwordHelpToggleClass">
				<mat-form-field appearance="standard">
					<mat-label>{{ 'odm.auth.form.label.password' | translate }}</mat-label>
					<input matInput formControlName="password" [type]="_hide ? 'password' : 'text'" autocomplete="new-password" required />
					<mat-icon class="auth__view-password" matSuffix (click)="_hide = !_hide">{{ _hide ? 'visibility_off' : 'visibility' }}</mat-icon>

					<mat-hint>
						<odm-password-help
							(passwordHelpClicked)="_onPasswordHelpToggled()"
							[passwordRequirements]="_passwordRequirements"
							[passwordControl]="_passwordControl"
						></odm-password-help>
					</mat-hint>
					<mat-error *ngIf="_ifServerErrorOccured(_resetPasswordForm?.get('password'), 'password')">{{
						_getErrorMessage$(_resetPasswordForm?.get('password')) | async
					}}</mat-error>
				</mat-form-field>
			</div>

			<div class="auth__reset-password-confirm-password-field">
				<mat-form-field appearance="standard">
					<mat-label>{{ 'odm.auth.form.label.confirm-password' | translate }}</mat-label>
					<input matInput formControlName="confirmPassword" [type]="_hide ? 'password' : 'text'" autocomplete="new-password" />
					<mat-icon class="auth__view-password" matSuffix (click)="_hide = !_hide">{{ _hide ? 'visibility_off' : 'visibility' }}</mat-icon>
					<mat-hint>
						<span>
							<ng-container *ngIf="!_resetPasswordForm?.get('confirmPassword').pristine && _resetPasswordForm?.get('password').valid">
								<mat-icon [ngClass]="_confirmPasswordMatchReqMet ? 'auth--req-met' : 'auth--req-not-met'" matPrefix>{{
									_confirmPasswordMatchReqMet ? 'task_alt' : 'clear'
								}}</mat-icon>
							</ng-container>
							{{ 'odm.auth.form.requirements.pass-must-match' | translate }}
						</span>
					</mat-hint>
					<mat-error *ngIf="_resetPasswordForm?.get('confirmPassword').invalid">{{
						_getErrorMessage$(_resetPasswordForm?.get('confirmPassword')) | async
					}}</mat-error>
				</mat-form-field>
			</div>

			<div>
				<button mat-raised-button type="submit" color="primary" [disabled]="!_resetPasswordForm?.valid">
					{{ 'odm.buttons.submit' | translate }}
				</button>
			</div>
		</form>
	</div>
</div>
