@use '~@angular/material' as mat;
@import '~@angular/material/theming';

@mixin odm-change-email-component-theme($theme) {
	$accent: map-get($theme, accent);

	.auth--req-met {
		color: mat.get-color-from-palette($accent);
	}
}
