mat-form-field {
	width: 100%;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card-actions {
	width: 80%;
	margin: 0 auto;

	button {
		width: 45%;
	}
}

.mat-mdc-card > .mat-mdc-card-actions:last-child {
	margin-bottom: 0;
}

.change-email-container {
	.change-email-container__change {
		position: relative;
		z-index: 110;

		.change-email--invisible {
			display: block;
			visibility: hidden;
			height: 0;
			width: 0;
		}

		.change-email-container__header-image {
			background-image: url('../../../../../assets/change_info.png');
			background-size: cover;
		}

		.change-email__title {
			width: 80%;
			margin: 0 auto;
		}

		.auth__current-password-field {
			margin: 0 auto;
			width: 80%;
		}

		.auth__new-password-field {
			margin: 0 auto;
			width: 80%;
		}

		.auth__confirm-password-field {
			margin: 12px auto;
			width: 80%;
		}

		.auth__view-password {
			cursor: pointer;
		}

		.change-email__card {
			max-width: 400px;
			margin: 0 auto;

			.auth__new-email-field {
				width: 80%;
				margin: 0 auto;
			}

			.auth__current-email-field {
				width: 80%;
				margin: 0 auto;
			}

			.auth__password-field {
				width: 80%;
				margin: 0 auto;
			}

			mat-form-field {
				width: 100%;
			}
		}

		.auth__password-field-help-on {
			margin-bottom: 111px;
			transition: margin-bottom 0.3s ease-in;
		}

		.auth__password-field-help-off {
			margin-bottom: 0px;
			transition: margin-bottom 0.3s ease-in;
		}

		.auth__confirm-password-field {
			padding-top: 12px;
		}

		.auth__view-password {
			cursor: pointer;
		}
	}
}
