<div class="change-password-container">
	<div class="change-password-overlay"></div>
	<div class="change-password-container__change">
		<mat-card class="change-password__card">
			<mat-card-header>
				<div mat-card-avatar class="example-header-image"></div>
				<mat-card-title>{{ 'odm.account.security.password.change.title' | translate }}</mat-card-title>
				<mat-card-subtitle>Empty for now</mat-card-subtitle>
			</mat-card-header>
			<mat-card-content>
				<form [formGroup]="_changePasswordForm" (ngSubmit)="_onChangePassword()" role="form" novalidate>
					<div>
						<mat-form-field appearance="standard">
							<mat-label>{{ 'odm.auth.form.label.old-password' | translate }}</mat-label>
							<input matInput formControlName="oldPassword" [type]="_oldPasswordHide ? 'password' : 'text'" autocomplete="old-password" required />
							<mat-icon class="change-password-container__view-password" matSuffix (click)="_oldPasswordHide = !_oldPasswordHide">{{
								_oldPasswordHide ? 'visibility_off' : 'visibility'
							}}</mat-icon>

							<mat-error *ngIf="_changePasswordForm?.get('oldPassword').invalid">{{
								_getErrorMessage$(_changePasswordForm?.get('oldPassword')) | async
							}}</mat-error>
						</mat-form-field>
					</div>

					<div [ngClass]="passwordHelpToggleClass">
						<mat-form-field appearance="standard">
							<mat-label>{{ 'odm.auth.form.label.new-password' | translate }}</mat-label>
							<input matInput formControlName="password" [type]="_newPasswordHide ? 'password' : 'text'" autocomplete="new-password" required />
							<mat-icon class="auth__view-password" matSuffix (click)="_newPasswordHide = !_newPasswordHide">{{
								_newPasswordHide ? 'visibility_off' : 'visibility'
							}}</mat-icon>

							<mat-hint>
								<odm-password-help
									(passwordHelpClicked)="_onPasswordHelpToggled()"
									[passwordRequirements]="passwordRequirements"
									[passwordControl]="_passwordControl"
								></odm-password-help>
							</mat-hint>
							<mat-error *ngIf="_ifServerErrorOccured(_changePasswordForm?.get('password'))">{{
								_getErrorMessage$(_changePasswordForm?.get('password')) | async
							}}</mat-error>
						</mat-form-field>
					</div>

					<div class="change-password-container__confirm-password-field">
						<mat-form-field appearance="standard">
							<mat-label>{{ 'odm.auth.form.label.confirm-password' | translate }}</mat-label>
							<input
								matInput
								formControlName="confirmPassword"
								[type]="_confirmPasswordHide ? 'password' : 'text'"
								autocomplete="confirm-password"
								required
							/>
							<mat-icon class="auth__view-password" matSuffix (click)="_confirmPasswordHide = !_confirmPasswordHide">{{
								_confirmPasswordHide ? 'visibility_off' : 'visibility'
							}}</mat-icon>
							<mat-hint>
								<span>
									<ng-container *ngIf="!_changePasswordForm?.get('confirmPassword').pristine && _changePasswordForm?.get('password').valid">
										<mat-icon [ngClass]="confirmPasswordMatchReqMet ? 'auth--req-met' : 'auth--req-not-met'" matPrefix>{{
											confirmPasswordMatchReqMet ? 'task_alt' : 'clear'
										}}</mat-icon>
									</ng-container>
									{{ 'odm.auth.form.requirements.pass-must-match' | translate }}
								</span>
							</mat-hint>

							<mat-error *ngIf="_changePasswordForm?.get('confirmPassword').invalid && _changePasswordForm?.get('password').valid">{{
								_getErrorMessage$(_changePasswordForm?.get('confirmPassword')) | async
							}}</mat-error>
						</mat-form-field>
					</div>
				</form>
			</mat-card-content>
			<mat-card-actions>
				<button mat-button mat-stroked-button color="accent" type="button" [disabled]="!_changePasswordForm?.valid">
					{{ 'odm.buttons.change-password' | translate }}
				</button>
				<button mat-button (click)="_cancelClicked()">{{ 'odm.buttons.cancel' | translate }}</button>
			</mat-card-actions>
		</mat-card>
	</div>
</div>
