@use '@angular/material' as mat;
@import '@angular/material/theming';

@mixin odm-change-password-component-theme($theme) {
	$accent: map-get($theme, accent);
	$warn: map-get($theme, warn);

	.change-password-container {
		.change-password-container__change {
			.auth--req-not-met {
				color: mat.get-color-from-palette($warn);
			}

			.auth--req-met {
				color: mat.get-color-from-palette($accent);
			}
		}
	}
}
