.change-password-overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background: black;
	opacity: 0.5;
	z-index: 100;
}

.change-password-container__change {
	position: relative;
	z-index: 110;
}
