mat-form-field {
	margin-bottom: 8px;
}

.change-password-overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background: black;
	opacity: 0.5;
	z-index: 100;
}

.change-password-container {
	position: relative;
	top: -80px;

	.change-password-container__change {
		position: relative;
		z-index: 110;

		.auth__view-password {
			cursor: pointer;
		}

		.change-password__card {
			max-width: 400px;
			margin: 0 auto;

			mat-form-field {
				width: 100%;
			}
		}

		.auth__password-field-help-on {
			margin-bottom: 111px; //123px;
			transition: margin-bottom 0.3s ease-in;
		}

		.auth__password-field-help-off {
			margin-bottom: 0px;
			transition: margin-bottom 0.3s ease-in;
		}

		.change-password-container__confirm-password-field {
			padding-top: 12px;
		}

		.change-password-container__view-password {
			cursor: pointer;
		}
	}
}
