<div class="change-password-container">
	<div class="change-password-container__change">
		<mat-card class="change-password__card">
			<mat-card-header>
				<div mat-card-avatar class="change-password-container__header-image"></div>
				<mat-card-title>{{ 'odm.account.security.password.change.title' | translate }}</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<form [formGroup]="_changePasswordForm">
					<div class="change-password__content">
						<div class="auth__current-password-field">
							<mat-form-field class="change-password--invisible">
								<input matInput formControlName="email" autocomplete="username" />
							</mat-form-field>
							<mat-form-field appearance="standard">
								<mat-label>{{ 'odm.auth.form.label.current-password' | translate }}</mat-label>
								<input
									matInput
									formControlName="currentPassword"
									[type]="_currentPasswordHide ? 'password' : 'text'"
									autocomplete="current-password"
									required
								/>
								<mat-icon class="auth__view-password" matSuffix (click)="_currentPasswordHide = !_currentPasswordHide">{{
									_currentPasswordHide ? 'visibility_off' : 'visibility'
								}}</mat-icon>

								<mat-error *ngIf="_ifControlFieldIsInvalid(_changePasswordForm?.get('currentPassword'))">{{
									_getErrorMessage$(_changePasswordForm?.get('currentPassword')) | async
								}}</mat-error>
							</mat-form-field>
						</div>

						<div class="auth__new-password-field" [ngClass]="passwordHelpToggleClass">
							<mat-form-field appearance="standard">
								<mat-label>{{ 'odm.auth.form.label.new-password' | translate }}</mat-label>
								<input matInput formControlName="password" [type]="_newPasswordHide ? 'password' : 'text'" autocomplete="new-password" required />
								<mat-icon class="auth__view-password" matSuffix (click)="_newPasswordHide = !_newPasswordHide">{{
									_newPasswordHide ? 'visibility_off' : 'visibility'
								}}</mat-icon>

								<mat-hint>
									<odm-password-help
										(passwordHelpClicked)="_onPasswordHelpToggled()"
										[togglePosition]="passwordHelpTogglePosition"
										[passwordRequirements]="passwordRequirements"
										[passwordControl]="_passwordControl"
									></odm-password-help>
								</mat-hint>
							</mat-form-field>
						</div>

						<div class="auth__confirm-password-field">
							<mat-form-field appearance="standard">
								<mat-label>{{ 'odm.auth.form.label.confirm-password' | translate }}</mat-label>
								<input
									matInput
									formControlName="confirmPassword"
									[type]="_confirmPasswordHide ? 'password' : 'text'"
									autocomplete="new-password"
									required
								/>
								<mat-icon class="auth__view-password" matSuffix (click)="_confirmPasswordHide = !_confirmPasswordHide">{{
									_confirmPasswordHide ? 'visibility_off' : 'visibility'
								}}</mat-icon>
								<mat-hint>
									<span>
										<ng-container *ngIf="!_changePasswordForm?.get('confirmPassword').pristine && _changePasswordForm?.get('password').valid">
											<mat-icon [ngClass]="confirmPasswordMatchReqMet ? 'auth--req-met' : 'auth--req-not-met'" matPrefix>{{
												confirmPasswordMatchReqMet ? 'task_alt' : 'clear'
											}}</mat-icon>
										</ng-container>
										{{ 'odm.auth.form.requirements.pass-must-match' | translate }}
									</span>
								</mat-hint>

								<mat-error *ngIf="_changePasswordForm?.get('confirmPassword').invalid && _changePasswordForm?.get('password').valid">{{
									_getErrorMessage$(_changePasswordForm?.get('confirmPassword')) | async
								}}</mat-error>
							</mat-form-field>
						</div>
					</div>
				</form>
			</mat-card-content>
			<mat-card-actions>
				<button
					mat-button
					mat-stroked-button
					color="accent"
					type="button"
					(click)="_onChangePassword()"
					[disabled]="!_changePasswordForm?.valid || passwordChangeInProgress"
				>
					{{ 'odm.buttons.change-password' | translate }}
					<ng-container *ngIf="passwordChangeInProgress">
						<odm-spinner
							[type]="'button'"
							[spinnerColor]="'accent'"
							[diameter]="_changingPasswordSpinnerDiameter"
							[strokeWidth]="_changingPasswordSpinnerStrokeWidth"
						>
						</odm-spinner>
					</ng-container>
				</button>
				<button mat-button type="button" (click)="_cancelClicked()">{{ 'odm.buttons.cancel' | translate }}</button>
			</mat-card-actions>
		</mat-card>
	</div>
</div>
