<div @rightLeftFadeIn>
	<odm-sign-up
		[problemDetails]="_problemDetails$ | async"
		[internalServerErrorDetails]="_internalServerErrorDetails$ | async"
		[matcher]="_breakpointStateScreenMatcher$ | async"
		[activeAuthType]="_activeAuthType$ | async"
		[signupForm]="_signupForm"
		[passwordRequirements]="_passwordRequirements"
		[signingUp]="_signignUp$ | async"
		(signupFormSubmitted)="_onSignupSubmitted($event)"
		(signinWithGoogleSubmitted)="_onSigninWithGoogleSubmitted()"
		(signinWithFacebookSubmitted)="_onSigninWithFacebookSubmitted()"
		(switchToSigninClicked)="_onSwitchToSigninClicked($event)"
	></odm-sign-up>
</div>
