<div @rightLeftFadeIn>
	<odm-sign-up
		[problemDetails]="_problemDetails$ | async"
		[internalServerErrorDetails]="_internalServerErrorDetails$ | async"
		[matcher]="_breakpointStateScreenMatcher$ | async"
		[activeAuthType]="_activeAuthType$ | async"
		[signupForm]="_signupForm"
		(signupFormSubmitted)="_onSignupSubmitted($event)"
		(signinWithGoogleSubmitted)="_onSigninWithGoogleSubmitted($event)"
		(signinWithFacebookSubmitted)="_onSigninWithFacebookSubmitted($event)"
		(switchToSigninClicked)="_onSwitchToSigninClicked($event)"
	></odm-sign-up>
</div>
