.personal-email {
	padding: 18.72px 0;
	.personal-email__info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		// padding-bottom: 18.72px;

		span {
			padding-right: 8px;
		}

		.personal-email__verification {
			display: flex;
			align-items: center;
			.personal-email__pending-verification {
				display: flex;

				mat-icon {
					margin-right: 8px;
				}
			}
		}
	}
}

mat-icon {
	height: 15px;
	width: 15px;
	font-size: 15px;
}

fa-icon {
	font-size: 15px;
}
