<div class="personal-email">
	<div [ngClass]="_routeAnimationsElements" class="personal-email__info">
		<ng-container *ngIf="!loading; else loadingState">
			<span @downUpFadeIn class="personal-email__title">{{ 'odm.account.general.personal-email' | translate }}</span>
			<div @downUpFadeIn class="personal-email__data-container">
				<div class="personal-email__data-container-child-one">
					<span class="personal-email__data">{{ email }} </span>
					<ng-container *ngIf="verified; else pendingVerification">
						<mat-icon class="personal-email__verified" [matTooltip]="'odm.account.general.verified-tooltip' | translate">
							<fa-icon icon="check"></fa-icon>
						</mat-icon>
					</ng-container>
				</div>
				<ng-container *ngIf="verified === false">
					<div class="personal-email__pending-verification-link-container personal-email__pending-verification">
						<button
							[matTooltip]="_disabled ? ('odm.account.general.resend-verification-disabled-tooltip' | translate) : ''"
							mat-button
							type="button"
							class="personal-email__resend-verification-btn personal-email--link"
							(click)="_onResendEmailVerificationClicked()"
							[disabled]="_disabled"
						>
							{{ 'odm.account.general.resend-verification' | translate }}
						</button>
					</div>
				</ng-container>
			</div>
		</ng-container>
	</div>
</div>

<ng-template #pendingVerification>
	<mat-icon class="personal-email__pending-verification" [matTooltip]="'odm.account.general.pending-verification-tooltip' | translate">
		<fa-icon icon="exclamation-triangle"></fa-icon>
	</mat-icon>
</ng-template>

<ng-template #loadingState>
	<div class="personal-email__ghost-loading-state">
		<odm-ghost-block></odm-ghost-block>
	</div>
</ng-template>
