@import '~@angular/material/theming';

@mixin odm-personal-email-component-theme($theme) {
	$warn: map-get($theme, warn);
	$accent: map-get($theme, accent);

	.personal-email {
		.personal-email__status {
			span {
				.personal-email__verified {
					color: mat-color($accent);
				}
			}
		}
	}
}
