@import '../../../../../styles-variables.scss';

.personal-email {
	padding: 18.72px 0;

	.personal-email__info {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.personal-email__title {
			font-weight: bold;
			width: 100%;
		}

		.personal-email__verified {
			color: green;
		}

		mat-icon {
			height: 15px;
			width: 15px;
			font-size: 15px;
			margin-right: 8px;
			margin-left: 8px;
		}

		fa-icon {
			font-size: 15px;
		}
	}

	.personal-email__data-container {
		display: flex;
		justify-content: flex-end;
		width: 100%;

		.personal-email__data {
			padding-left: 12px;
			font-size: 15px;
			word-break: break-word;
		}
	}

	.personal-email__pending-verification {
		cursor: pointer;
	}

	.personal-email__pending-verification-link-container {
		display: flex;

		.personal-email__resend-verification-btn {
			padding: 0;
			font-size: 13px;
		}

		.personal-email--link-size {
			font-size: small;
		}
	}
}

.personal-email__ghost-loading-state {
	height: 56px;
	padding: 8px 0;
	width: 100%;
}

@media (min-width: map-get($grid-breakpoints, sm)) {
	.personal-email {
		.personal-email__info {
			display: flex;
			flex-flow: row;
			justify-content: space-between;
			align-items: center;
		}
	}
}
