<div class="personal-email">
	<div class="personal-email__info">
		<ng-container *ngIf="!loading; else loadingState">
			<span class="personal-email__title">{{ 'odm.account.general.personal-email' | translate }}</span>
			<span
				>{{ email }}
				<ng-container *ngIf="verified; else pendingVerification">
					<mat-icon class="personal-email__verified" [matTooltip]="'odm.account.general.verified-tooltip' | translate">
						<fa-icon icon="check"></fa-icon>
					</mat-icon>
				</ng-container>
			</span>
		</ng-container>
	</div>
</div>

<ng-template #pendingVerification>
	<mat-icon
		class="personal-email__pending-verification"
		(click)="_onResendEmailVerificationClicked()"
		[matTooltip]="'odm.account.general.pending-verification-tooltip' | translate"
	>
		<fa-icon icon="exclamation-triangle"></fa-icon>
	</mat-icon>
</ng-template>

<ng-template #loadingState>
	<div class="personal-email__ghost-loading-state">
		<odm-ghost-block></odm-ghost-block>
	</div>
</ng-template>
