<div class="personal-email">
	<div class="personal-email__info">
		<span id="email">{{ 'odm.account.general.personal-email' | translate }}</span>
		<div class="personal-email__verification">
			<span>{{ email }}</span>
			<ng-container *ngIf="verified; else pendingVerification">
				<mat-icon matTooltip="Email verified" class="personal-email__verified">
					<fa-icon icon="check"></fa-icon>
				</mat-icon>
			</ng-container>
		</div>
	</div>
</div>

<ng-template #pendingVerification>
	<div class="personal-email__pending-verification">
		<mat-icon matTooltip="Pending email verification">
			<fa-icon icon="exclamation-triangle"></fa-icon>
		</mat-icon>
		<mat-icon (click)="_onResendEmailVerificationClicked()" matTooltip="Resend email verification">
			<fa-icon icon="paper-plane"></fa-icon>
		</mat-icon>
	</div>
</ng-template>
