@import '~@angular/material/theming';

@mixin odm-personal-email-component-theme($theme) {
	$warn: map-get($theme, warn);
	$accent: map-get($theme, accent);

	.personal-email {
		.personal-email__pending-verification {
			color: mat-color($warn);
		}
	}
}
